<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block 'title' %}{% endblock %}</title>
    <style type="text/css">
        @font-face {
            font-family: Montserrat;
            src: url("{% static 'fonts/Montserrat.ttf' %}");
        }
        @page {
            margin: 1cm;
            font-family: Montserrat, sans-serif;
            orientation: 'landscape'
        }
        body {
            font-family: Montserrat, sans-serif;
        }
    </style>
</head>
<body>
    {% block 'content' %}{% endblock %}
</body>
</html>