# created by virtualenv automatically
venv/
*/settings.py
*/*.sqlite3

#dotnet ignore list
target/
xit/
.vs/
.vscode/
bin/
obj/
wwwroot/
.idea
*.effective.yml
yarn.lock
*.csproj.user        
/docs/html
/*.user
/docs
*.DotSettings.user

*/*/settings.py
*/*/__pycache__/
*/*/*/__pycache__/
media/
static/
