<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>РТЛ-Таможенный оператор</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/handsontable.full.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?v=32">
    <link rel="stylesheet" type="text/css" href="{% static 'css/statics.css' %}?v=32">
    <link href="{% static 'css/handsontable.full.min.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header" style="display: flex">
        <div id="logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
        <div id="menu_wrapper">
            <div id="decor"></div>
            <div id="menu">
                <div><a href="{% url 'home' %}">Главная</a></div>
                <div><a href="{% url 'vacancies_list' %}">Вакансии</a></div>
                {% if request.user.is_staff %}
                <div><a href="{% url 'dashboard' %}">Панель управления</a></div>
                {% elif request.user.is_authenticated %}
                {% if request.user.client %}<div><a href="{% url 'dashboard_pub' %}">Личный кабинет</a></div>{% endif %}
                {% if request.user.auditor %}<div><a href="{% url 'dashboard_aud' %}">Аудит</a></div>{% endif %}
                {% if request.user.contractor %}<div><a href="{% url 'dashboard_carrier' %}">Панель управления</a></div>{% endif %}
                {% endif %}
            </div>
            <div id="login_block">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}"><div>{{ request.user.first_name }} {{ request.user.last_name }}</div></a>
                <span class="login_label">|</span>
                <a href="{% url 'logout' %}"><div>Выйти</div></a>
                {% else %}
                <a href="{% url 'login' %}"><div>Войти</div></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="all_content">
        {% block 'content' %}
        {% endblock %}
    </div>
    <div id="footer">
        <div>
            <!--<h3>Контакты</h3>-->
            <p><b>Телефон:</b> +7 (495) 777-02-90</p>
            <p><b>E-mail:</b> info@rtl-to.ru</p>
        </div>
        <div class="copyright">
            ООО "РТЛ-Таможенный оператор". Все права защищены<br />
            Данный сайт не является публичной офертой
        </div>
        <div>
            <p><b>Адрес:</b> г.Москва, Андроньевская пл., д. 4, стр. 1</p>
            <a href="https://yandex.ru/maps/-/CCUabPrxGA" target="blank">Показать на карте</a>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}?v=32"></script>
</body>
</html>