{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
{% load menu_tags %}
<div class="profile_view">
    <div>
        <h2>Профиль {{ object.short_name }}</h2>
        <a href="{% url 'auditor_edit' pk=object.id %}?next={{ request.path }}">Редактировать</a>
        <a href="{% url 'auditor_delete' pk=object.id %}?next={{ request.path }}">Удалить</a>
    </div>
    <br>
    <table class="detail_view_table">
        <tbody>
            <tr>
                <th>ИНН:</th>
                <td>{{ object.inn }}</td>
            </tr>
            <tr>
                <th>КПП:</th>
                <td>{{ object.kpp }}</td>
            </tr>
            <tr>
                <th>Краткое наименоваание:</th>
                <td>{{ object.short_name }}</td>
            </tr>
            <tr>
                <th>Юр. адрес:</th>
                <td>{{ object.legal_address }}</td>
            </tr>
            <tr>
                <th>Факт. адрес:</th>
                <td>{{ object.fact_address }}</td>
            </tr>
        </tbody>
    </table>
    {% if object.agents.exists %}
    <h2>Пользователи контролирующего органа</h2>
    <table class="list_view_table no_modal">
        <thead>
            <tr>
                <td>ФИО</td>
                <td>Имя пользователя</td>
                <td>Тип пользователя</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for user in object.agents.all %}
            <tr href="{% url 'user_detail' pk=user.id %}?next={{ request.path }}">
                <td>{{ user }}</td>
                <td>{% if user.is_active %}{{ user.username }}{% else %}-{% endif %}</td>
                <td>{% user_type 'user' %}</td>
                <td>
                    <a class="table_link" href="{% url 'user_edit' pk=user.id %}?next={{ request.path }}">Редактировать</a>
                    <a class="table_link" href="{% url 'user_delete' pk=user.id %}?next={{ request.path }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
<a href="{% url 'agent_add' %}?auditor={{ object.pk }}&next={{ request.path }}">Добавить пользователя</a>
    {% if object.controlled_clients.exists %}
    <h2>Контролируемые организации</h2>
    <table class="list_view_table no_modal">
        <thead>
            <tr>
                <td>Наименование</td>
                <td>ИНН</td>
                <td>Кол-во пользователей</td>
                <td>Кол-во поручений</td>
            </tr>
        </thead>
        <tbody>
            {% for client in object.controlled_clients.all %}
                <tr href="{% url 'client_detail' pk=client.pk %}?next={{ request.path }}">
                    <td>{{ client.short_name }}</td>
                    <td>{{ client.inn }}</td>
                    <td>{{ client.users.count }}</td>
                    <td>{{ client.orders.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}