{% block 'inner_content' %}
<input id="transit_prefix" type="hidden" value="">
<div id="sh_wrapper" class="thin">
    <div id="sh_warning">
        <p>Важно!</p>
        <p>
            Копирование возможно только для таблиц состоящих из 5 (!) столбцов:<br>
            Тип упаковки, кол-во мест, маркировка, габариты (ДхШхВ), вес брутто
        </p>
        <p>
            Все столбцы обязательны, даже если в одном из них данных нет!
            Соблюдайте порядок следования столбцов!
        </p>
    </div>
    <div id="allowed_packages">
        <p>Допустимые виды упаковок:</p>
        <p>{{ allowed_packages }}</p>
    </div>
    <div>
        <label for="id_size_dimensions">Ед. изм. габаритов в файле поручения</label>
        <select name="size_dimensions" id="id_size_dimensions">
            <option value="1">см</option>
            <option value="10">мм</option>
        </select>
    </div>
    <div id="cargos_paste_area">
        <div>Щелкните сюда, чтобы выбрать область копирования</div>
        <div class="hidden">Скопируйте данные из Excel сюда (Ctrl+V)</div>
    </div>
    <div id="spreadsheet-area"></div>
    <button id="spreadsheed_submit" type="submit" class="hidden">Добавить грузы</button>
</div>
<script>
    var container = document.getElementById('spreadsheet-area');
    var hot = new Handsontable(container, {
        startRows: 0,
        licenseKey: 'non-commercial-and-evaluation'
    });
</script>
{% endblock %}