{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
{% load menu_tags %}
<div class="profile_view">
    <div>
        <h2>Профиль {{ object.short_name }}</h2>
        <a href="{% url 'client_edit' pk=object.id %}?next={{ request.path }}">Редактировать</a>
        <a href="{% url 'client_delete' pk=object.id %}?next={{ request.path }}">Удалить</a>
    </div>
    <br>
    <table class="detail_view_table">
        <tbody>
            <tr>
                <th>ИНН:</th>
                <td>{{ object.inn }}</td>
            </tr>
            <tr>
                <th>КПП:</th>
                <td>{{ object.kpp }}</td>
            </tr>
            <tr>
                <th>Краткое наименоваание:</th>
                <td>{{ object.short_name }}</td>
            </tr>
            <tr>
                <th>Юр. адрес:</th>
                <td>{{ object.legal_address }}</td>
            </tr>
            <tr>
                <th>Факт. адрес:</th>
                <td>{{ object.fact_address }}</td>
            </tr>
            <tr>
                <th>Префикс номера поручения:</th>
                <td>{{ object.num_prefix }}</td>
            </tr>
            <tr>
                <th>№ договора:</th>
                <td>{{ object.contract }}</td>
            </tr>
            <tr>
                <th>Дата заключения договора:</th>
                <td>{{ object.contract_sign_date|date:"d.m.Y" }}</td>
            </tr>
            <tr>
                <th>Дата окончания действия договора:</th>
                <td>{{ object.contract_expiration_date|date:"d.m.Y" }}</td>
            </tr>
        </tbody>
    </table>
    {% if object.users.exists %}
    <h2>Пользователи заказчика</h2>
    <table class="list_view_table no_modal">
        <thead>
            <tr>
                <td>ФИО</td>
                <td>Имя пользователя</td>
                <td>Тип пользователя</td>
                <td>Подтвержден</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for user in object.users.all %}
            <tr href="{% url 'user_detail' pk=user.id %}">
                <td>{{ user }}</td>
                <td>{% if user.is_active %}{{ user.username }}{% else %}-{% endif %}</td>
                <td>{{ user.get_user_type_display }}</td>
                <td>{% if user.is_active %}<span style="color:green">Да</span>{% else %}<span style="color:red">Нет</span><br>(<a class="table_link" style="margin:0" href="{% url 'resend_registration_mail' pk=user.id %}?next={{ request.path }}">Повторить письмо о регистрации</a>){% endif %}</td>
                <td>
                    <a class="table_link" href="{% url 'user_edit' pk=user.id %}?next={{ request.path }}">Редактировать</a>
                    <a class="table_link" href="{% url 'user_delete' pk=user.id %}?next={{ request.path }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
<a href="{% url 'user_add' %}?client={{ object.pk }}&next={{ request.path }}">Добавить пользователя</a>
</div>
{% endblock %}