{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
<table class="list_view_table">
    <thead>
        <tr>
            <td>Наименование</td>
            <td>ИНН</td>
            <td>Кол-во пользователей</td>
            <td>Кол-во поручений</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for client in object_list %}
            <tr onclick="document.location = '{% url 'client_detail' pk=client.pk %}';">
                <td>{{ client.short_name }}</td>
                <td>{{ client.inn }}</td>
                <td>{{ client.users.count }}</td>
                <td>{{ client.orders.count }}</td>
                <td>
                    <a class="table_link" href="{% url 'client_edit' pk=client.pk %}?next={{ request.path }}">Редактировать</a>
                    <a class="table_link" href="{% url 'client_delete' pk=client.pk %}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'client_add' %}">Добавить заказчика</a>
{% endblock %}