{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
{% load menu_tags %}
<div class="profile_view">
    <div>
        <h2>Профиль организации {{ object.title }}</h2>
        <a href="{% url 'client_edit' pk=object.id %}?next={{ request.path }}">Редактировать</a>
        <a href="{% url 'client_delete' pk=object.id %} ">Удалить</a>
    </div>
    <br>
    <table class="detail_view_table">
        <tbody>
            <tr>
                <th>Краткое наименоваание</th>
                <td>{{ object.title }}</td>
            </tr>
        </tbody>
    </table>
    {% if object.users.all %}
    <h2>Сотрудники организации</h2>
    <table class="list_view_table">
        <thead>
            <tr>
                <td>ФИО</td>
                <td>Имя пользователя</td>
                <td>Тип пользователя</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for user in object.users.all %}
            <tr onclick="document.location = '{% url 'user_detail' pk=user.id %}';">
                <td>{{ user }}</td>
                <td>{% if user.is_active %}{{ user.username }}{% else %}-{% endif %}</td>
                <td>{% user_type 'user' %}</td>
                <td>
                    <a class="table_link" href="{% url 'user_edit' pk=user.id %}?next={{ request.path }}">Редактировать</a>
                    <a class="table_link" href="{% url 'user_delete' pk=user.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
<a href="{% url 'user_add' %}?client={{ object.pk }}">Добавить сотрудника</a>
</div>
{% endblock %}