{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
<table class="list_view_table no_modal">
    <thead>
        <tr>
            <td>Наименование</td>
            <td>ИНН</td>
            <td>Кол-во поручений в работе</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr href="{% url 'contractor_detail' pk=object.pk %}?next={{ request.path }}">
                <td>{{ object.short_name }}</td>
                <td>{{ object.inn }}</td>
                <td>{{ object.ext_orders.count }}</td>
                <td>
                    <a class="table_link" href="{% url 'contractor_edit' pk=object.pk %}?next={{ request.path }}">Редактировать</a>
                    <a class="table_link" href="{% url 'contractor_delete' pk=object.pk %}?next={{ request.path }}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'contractor_add' %}?next={{ request.path }}">Добавить перевозчика</a>
{% endblock %}