{% extends 'static_pages/base.html' %}
{% block 'content' %}
{% load menu_tags %}

<div id="ca_menu">
    <a class="menu_item{% url_active 'dashboard' %}" href="{% url 'dashboard' %}">Общая информация</a>
    <a class="menu_item{% url_active 'clients_list' %}" href="{% url 'clients_list' %}">Организации</a>
    <a class="menu_item{% url_active 'users_list' %}" href="{% url 'users_list' %}">Пользователи</a>
    <a class="menu_item{% url_active 'orders_list' %}" href="{% url 'orders_list' %}">Поручения</a>
<!--    <a class="menu_item{% url_active 'order_calc' %}" href="{% url 'order_calc' %}">Рассчитать цену</a>-->
</div>

<div class="inner_content">
{% block 'inner_content' %}
{% endblock %}
</div>
{% endblock %}