{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
<div>
    <h2>Изменение поручения {{ order }}</h2>
</div>
<form method="post">
    {% csrf_token %}
    <div class="order_form horizontal_tables_list">
        <table class="form_table">
            <tr>
                <th>
                    {{ order_form.client_number.label }}:
                </th>
                <td>
                    {{ order_form.client_number }} {{ order_form.client_number.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.inner_number.label }}:
                </th>
                <td>
                    {{ order_form.inner_number }} {{ order_form.inner_number.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.manager.label }}:
                </th>
                <td>
                    {{ order_form.manager }} {{ order_form.manager.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.client.label }}:
                </th>
                <td>
                    {{ order_form.client }} {{ order_form.client.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.client_employee.label }}:
                </th>
                <td>
                    {{ order_form.client_employee }} {{ order_form.client_employee.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.type.label }}:
                </th>
                <td>
                    {{ order_form.type }} {{ order_form.type.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.status.label }}:
                </th>
                <td>
                    {{ order_form.status }} {{ order_form.status.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.price.label }}:
                </th>
                <td>
                    {{ order_form.price }} {{ order_form.price.errors }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ order_form.price_carrier.label }}:
                </th>
                <td>
                    {{ order_form.price_carrier }} {{ order_form.price_carrier.errors }}
                </td>
            </tr>
        </table>
        <table class="form_table">
            <tr>
                <td colspan="2">
                    <table class="inline_table">
                        <thead>
                            <tr>
                                <th colspan="2">Параметры грузов:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Вес брутто: </b>{{ order_form.weight }} {{ order_form.weight.errors }}</td>
                                <td><b>Кол-во мест: </b>{{ order_form.quantity }} {{ order_form.quantity.errors }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="inline_table">
                        <thead>
                            <tr>
                                <th colspan="2">Дата забора груза:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>План: </b>{{ order_form.from_date_plan }} {{ order_form.from_date_plan.errors }}</td>
                                <td><b>Факт: </b>{{ order_form.from_date_fact }} {{ order_form.from_date_fact.errors }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="inline_table">
                        <thead>
                            <tr>
                                <th colspan="2">Дата доставки груза:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>План: </b>{{ order_form.to_date_plan }} {{ order_form.to_date_plan.errors }}</td>
                                <td><b>Факт: </b>{{ order_form.to_date_fact }} {{ order_form.to_date_fact.errors }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Примечания:</th>
            </tr>
            <tr>
                <td>{{ order_form.comment }} {{ order_form.comment.errors }}</td>
            </tr>
        </table>
    </div>
    <div id="transit_forms">
        {{ transits.management_form }}
        {{ transits.non_form_errors  }}
        <h2>Связанные перевозки:</h2>
        {% for transit in transits.forms %}
        {{ transit.as_my_style }}
        {% endfor %}
    </div>
    <a class="btn_add_transit" id="btn_add_transit">Добавить перевозку</a>
    <br>
    <button type="submit">Сохранить</button>
    <a href="{% url 'order_detail' pk=order_form.instance.pk %}">Отмена</a>
</form>
<script>
    function delCargo(elem) {
        id_id = elem.find('.cargo_hidden_field').first().find('input').first().attr('id')
        parsed_id = id_id.split('-')
        transitNum = parsed_id[1]
        cargoNum = parsed_id[3]
        var deleteItem = false
        if (elem.parent().find('.cargo_form:not([style])').length > 1) {
            deleteItem = true
        } else {
            if (confirm('Вы уверены, что хотите удалить последний груз?\nПри сохранении это приведет к удалению всей перевозки!')) {
                deleteItem = true
            }
        }
        if (deleteItem) {
            elem.css('display', 'none')
            $('#id_transits-' + transitNum + '-cargos-' + cargoNum + '-DELETE').prop('checked', true);
        }
    }

    function delTransit(elem) {
        id_id = elem.find('input[type=hidden]').first().attr('id')
        transitNum = id_id.split('-')[1]
        if (elem.parent().find('.transit_form:not([style])').length > 1) {
            deleteItem = true
        } else {
            if (confirm('Вы уверены, что хотите удалить последнюю перевозку?\nПри сохранении это приведет к удалению всего поручения!')) {
                deleteItem = true
            }
        }
        if (deleteItem) {
            elem.css('display', 'none')
            $('#id_transits-' + transitNum + '-DELETE').prop('checked', true);
        }
    }
    $("body").on('click', '.btn_delete_cargo', function (e) {
        e.preventDefault()
        delCargo($(this).parents(".cargo_form"))
    })

    $("body").on('click', '.btn_delete_transit', function (e) {
        e.preventDefault()
        delTransit($(this).parents(".transit_form"))
    })

    $('button[type=submit]').click(function(e){
        e.preventDefault()
        $('.transit_form').each(function(){
            cargos = $(this).find('.cargo_form:not([style])').length
            if (cargos==0) {
                $(this).find('.btn_delete_transit').click()
            }
        })
        $('form').submit()
    })

    newTransitGlobal = '{{ transits.empty_form.as_my_style|escapejs }}'
    newCargoGlobal = '{{ transits.empty_form.nested.empty_form.as_my_style|escapejs }}'

    $('body').on('click', '.btn_add_cargo', function(e){
        e.preventDefault()
        table = $(this).parent().find('.cargo_table')
        transitNum = table.find('input[type=hidden]').attr('name').split('-')[1]
        formNum = table.find('.cargo_form').length
        newCargo = newCargoGlobal.replace(/__tprefix__/g, transitNum).replace(/__prefix__/g, formNum)
        table.append(newCargo)
        totalCargos = $("#id_transits-" + transitNum + "-cargos-TOTAL_FORMS").val()
        totalCargos++
        $("#id_transits-" + transitNum + "-cargos-TOTAL_FORMS").val(totalCargos)
    })

    $('#btn_add_transit').on('click', function(e){
        e.preventDefault()
        table = $('#transit_forms')
        formNum = $('.transit_form').length
        totalTransits = $("#id_transits-TOTAL_FORMS").val()
        newTransit = newTransitGlobal.replace(/__tprefix__/g, formNum)
        table.append(newTransit)
        totalTransits++
        $("#id_transits-TOTAL_FORMS").val(totalTransits)
        $(this).parent().find('.btn_add_cargo').last().click()
    })

    $('body').on('click', '.swap_forms', function(){
        sender_inputs = $(this).prev().find('input')
        receiver_inputs = $(this).next().find('input')
        for (let i = 0; i < sender_inputs.length; i++) {
            sender_val = sender_inputs[i].value
            receiver_val = receiver_inputs[i].value
            $(sender_inputs[i]).val(receiver_val)
            $(receiver_inputs[i]).val(sender_val)
        }
    })

    $('body').on('click', '.copy_transit', function(){
        clonedFormInputs = $(this).parent().find('input')
        clonedFormSelects = $(this).parent().find('select')
        table = $('#transit_forms')
        formNum = $('.transit_form').length
        totalTransits = $("#id_transits-TOTAL_FORMS").val()
        newTransit = $($.parseHTML(newTransitGlobal.replace(/__tprefix__/g, formNum)))
        table.append(newTransit)
        for (let i = 0; i < $(this).parent().find('.cargo_form').length; i++) {
            newTransit.find('.btn_add_cargo').last().click()
        }

        newFormInputs = newTransit.find('input')
        for (let i = 0; i < clonedFormInputs.length; i++) {
            cloned_item = $(clonedFormInputs[i])
            new_item = $(newFormInputs[i])
            if (
                !cloned_item.attr('id').endsWith('-id') &&
                !cloned_item.attr('id').endsWith('DELETE') &&
                !cloned_item.attr('id').endsWith('INITIAL_FORMS') &&
                !cloned_item.attr('id').endsWith('sub_number')
            ) {
                new_item.val(cloned_item.val())
            }
        }
        newFormSelects = newTransit.find('select')
        for (let i = 0; i < clonedFormSelects.length; i++) {
            $(newFormSelects[i]).val($(clonedFormSelects[i]).val())
        }
        totalTransits++
        $("#id_transits-TOTAL_FORMS").val(totalTransits)
    })
</script>
{% endblock %}