{% block 'inner_content' %}
{% load menu_tags %}
{% load humanize %}
<div class="profile_view">
    <div>
        <h2>Детализация поручения №{{ object.inner_number }} от {{ object.order_date|date:"d.m.Y" }}</h2>
        <a href="{% url 'docs_edit' pk=object.id %}?next={{ request.path }}">Приложить документы</a>
        <a href="{% url 'order_history' pk=object.id %}?next={{ request.path }}">История статусов</a>
        {% if object.manager == request.user %}
        <a href="{% url 'order_edit' pk=object.id %}?next={{ request.path }}">Редактировать</a>
        <a href="{% url 'order_delete' pk=object.id %}?next={{ request.path }}">Удалить</a>
        {% else %}
        <a href="{% url 'manager_get' pk=object.pk %}?next={{ request.path }}">Взять в работу</a>
        {% endif %}
    </div>
    <div class="expandable_block">
        <div class="trigger_button"><b>Документы</b> (<span class="trigger link_styled_span">Показать</span>)</div>
        <div class="items_block">
            {% for doc in object.docs.all %}
            <div>
                <b>{{ doc.title }}</b> (<a download href="{{ doc.file.url }}">Скачать</a>)
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="horizontal_tables_list">
        <table class="detail_view_table">
            <tbody>
                <tr>
                    <th>Номер поручения:</th>
                    <td>{{ object.client_number }}</td>
                </tr>
                <tr>
                    <th>Внутренний номер:</th>
                    <td>{{ object.inner_number }}</td>
                </tr>
                <tr>
                    <th>Менеджер:</th>
                    <td>{% if object.manager %}{{ object.manager }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Заказчик:</th>
                    <td>{{ object.client }}</td>
                </tr>
                <tr>
                    <th>Договор:</th>
                    <td>{% if object.contract %}{{ object.contract }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Сотрудник заказчика:</th>
                    <td>{% if object.client_employee %}{{ object.client_employee }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Вид поручения:</th>
                    <td>{{ object.get_type_display }}</td>
                </tr>
                <tr>
                    <th>Ставка:</th>
                    <td>{% if object.price %}{{ object.price|intcomma }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Закупочная цена поручения:</th>
                    <td>{% if object.price_carrier %}{{ object.price_carrier|intcomma }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>НДС:</th>
                    <td>{{ object.get_taxes_display }}</td>
                </tr>
            </tbody>
        </table>
        <table class="detail_view_table">
            <tbody>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <thead>
                                <tr>
                                    <th colspan="2">Параметры грузов:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Вес брутто: </b>{{ object.weight|floatformat:2|intcomma }} кг</td>
                                    <td><b>Кол-во мест: </b>{{ object.quantity }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <tr>
                                <th>Общее наименование груза:</th>
                                <td>{{ object.cargo_name }}</td>
                            </tr>
                            <tr>
                                <th>Страна происхождения груза:</th>
                                <td>{{ object.cargo_origin }}</td>
                            </tr>
                            <tr>
                                <th>Страхование:</th>
                                <td>{% if object.insurance %}Требуется{% else %}Не требуется{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Заявленная стоимость грузов:</th>
                                <td>{% if object.value %}{{ object.value|floatformat:2|intcomma }} {{ object.transits.first.currency }}{% else %}Не указана{% endif %}</td>
                            </tr>
                            {% if object.insurance %}
                            <tr>
                                <th>Валюта страхования:</th>
                                <td>{{ object.get_insurance_currency_display }}</td>
                            </tr>
                            <tr>
                                <th>Процент страховой суммы:</th>
                                <td>{{ object.get_sum_insured_coeff_display }}</td>
                            </tr>
                            <tr>
                                <th>Курс {{ object.transits.first.currency }}/{{ object.insurance_currency }} для расчета страховой премии:</th>
                                <td>{{ object.currency_rate }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <thead>
                                <tr>
                                    <th colspan="2">Дата забора груза:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>План: </b>{{ object.from_date_plan|date:"d.m.Y" }}</td>
                                    <td><b>Факт: </b>{{ object.from_date_fact|date:"d.m.Y" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <thead>
                                <tr>
                                    <th colspan="2">Дата доставки груза:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>План: </b>{{ object.to_date_plan|date:"d.m.Y" }}</td>
                                    <td><b>Факт: </b>{{ object.to_date_fact|date:"d.m.Y" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Примечания:</th>
                </tr>
                <tr>
                    <td>{% if object.comment %}{{ object.comment|linebreaks }}{% else %}-{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <table class="detail_view_table">
            <tbody>
                <tr>
                    <th>Статус поручения:</th>
                    <td>{{ object.get_status_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Перевозки</h2>
    {% for transit in object.transits.all %}

    <div class="transit_tabs">
        <div class="tabs_list">
            <span class="tab_label" id="transits-{{ forloop.counter0 }}-general_tab">Общая информация</span>
            <span class="tab_label" id="transits-{{ forloop.counter0 }}-cargos_tab">Грузы</span>
            <span class="tab_label" id="transits-{{ forloop.counter0 }}-segments_tab">Исходящие поручения</span>
            <span class="tab_label" id="transits-{{ forloop.counter0 }}-history_tab">История статусов</span>
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-general">
            <h3>Перевозка №{{ transit.number }}</h3>
            {% if transit.from_date_fact %}
            <a href="{% url 'shipping_receipt_ext' transit_pk=transit.pk filename='ЭР_'|add:transit.filename %}?fax=true" target="_blank">ЭР (с факсимиле)</a>
            <a href="{% url 'shipping_receipt_ext' transit_pk=transit.pk filename='ЭР_'|add:transit.filename %}" target="_blank">ЭР (без факсимиле)</a>
            <br><br>
            {% endif %}
            <div  class="horizontal_tables_list" style="width: 100%">
                <table class="detail_view_table" width="30%">
                    <tr>
                        <th>Статус</th>
                        <td>{{ transit.get_status_display }}</td>
                    </tr>
                    <tr>
                        <th>Вид перевозки</th>
                        <td style="white-space: nowrap">{% if transit.type %}{{ transit.type }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Заявленная стоимость груза</th>
                        <td>{% if transit.value %}{{ transit.value }} {{ transit.currency }}{% else %}-{% endif %}</td>
                    </tr>
                    {% if object.insurance %}
                    <tr>
                        <th>Страховая сумма</th>
                        <td>{{ transit.sum_insured|floatformat:2|intcomma }} {{ object.insurance_currency }}</td>
                    </tr>
                    <tr>
                        <th>Страховая премия</th>
                        <td>{{ transit.insurance_premium|floatformat:2|intcomma }} {{ object.insurance_currency }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Доп. услуги</th>
                        <td>{% if transit.extra_services.exists %}{{ transit.extra_services.all|join:", " }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Закупочная стоимость</th>
                        <td>{% if transit.price_carrier %}{{ transit.price_carrier }}{% else %}-{% endif %}</td>
                    </tr>
<!--                    <tr>-->
<!--                        <th>Ставка</th>-->
<!--                        <td>{% if transit.price %}{{ transit.price }}{% else %}-{% endif %}</td>-->
<!--                    </tr>-->
                </table>
                <table class="detail_view_table" width="70%">
                    <tbody>
                        <tr>
                            <th>Адрес забора груза</th>
                            <th>Адрес доставки</th>
                        </tr>
                        <tr>
                            <td width="50%">{{ transit.from_addr }}</td>
                            <td width="50%">{{ transit.to_addr }}</td>
                        </tr>
                        <tr>
                            <th>Отправитель:</th>
                            <th>Получатель:</th>
                        </tr>
                        <tr>
                            <td>{{ transit.sender }} (ИНН {{ transit.sender.inn }})</td>
                            <td>{{ transit.receiver }} (ИНН {{ transit.receiver.inn }})</td>
                        </tr>
                        <tr>
                            <td><b>Контактные лица:</b><br>
                                <ul>
                                    {% for contact in transit.from_contacts.all %}
                                    <li><b>{{ contact.last_name }} {{ contact.first_name }}{% if contact.second_name %} {{ contact.second_name }}{% endif %}</b><br>
                                    <b>тел.</b> {{ contact.phone }}<br/>
                                    <b>email</b> {% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td><b>Контактные лица:</b><br>
                                <ul>
                                    {% for contact in transit.to_contacts.all %}
                                    <li><b>{{ contact.last_name }} {{ contact.first_name }}{% if contact.second_name %} {{ contact.second_name }}{% endif %}</b><br>
                                    <b>тел.</b> {{ contact.phone }}<br/>
                                    <b>email</b> {% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="inline_table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Дата забора груза:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>План: </b>{{ transit.from_date_plan|date:"d.m.Y" }}</td>
                                            <td><b>Факт: </b>{{ transit.from_date_fact|date:"d.m.Y" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="inline_table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Дата доставки груза:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>План: </b>{{ transit.to_date_plan|date:"d.m.Y" }}</td>
                                            <td><b>Факт: </b>{{ transit.to_date_fact|date:"d.m.Y" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-cargos">
            <table class="detail_view_table">
                <tbody>
                    <tr>
                        <th colspan="2">Суммарные характеристики грузов</th>
                    </tr>
                    <tr>
                        <th>
                            Вес брутто:
                        </th>
                        <td>
                            {{ transit.weight|floatformat:2|intcomma }} кг
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Объем:
                        </th>
                        <td>
                            {{ transit.volume|floatformat:2|intcomma }} м&sup3;
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Количество мест:
                        </th>
                        <td>
                            {{ transit.quantity|floatformat:0|intcomma }} шт
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><b>Детализация по грузам</b></p>
            <table class="list_view_table_inactive">
                <thead>
                    <tr>
                        <td>Маркировка</td>
                        <td>Тип упаковки</td>
                        <td>Габариты (ДхШхВ), см</td>
                        <td>Вес, кг</td>
                        <td>Количество мест</td>
                        <td>Доп параметры</td>
                    </tr>
                </thead>
                <tbody>
                    {% for cargo in transit.cargos.all %}
                    <tr class="short_inactive">
                        <td>{% if cargo.mark %}{{ cargo.mark }}{% else %}-{% endif %}</td>
                        <td>{{ cargo.get_package_type_display }}</td>
                        <td>{{ cargo.length|intcomma }}x{{ cargo.width|intcomma }}x{{ cargo.height|intcomma }}</td>
                        <td>{{ cargo.weight|floatformat:2|intcomma }}</td>
                        <td>{{ cargo.quantity|intcomma }}</td>
                        <td>{% if cargo.extra_params.exists %}{{ cargo.extra_params.all|join:", " }}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-segments">
            {% if request.user == object.manager %}
            <div>
                <a href="{% url 'ext_orders_edit' pk=transit.pk %}?next={{ request.path }}">Управление исходящими поручениями</a>
            </div>
            {% endif %}
            <br>
            {% for ext_order in transit.ext_orders.all %}
            <div class="ext_order_detail">
                <div>
                    <h2>Поручение {{ ext_order.number }} от {{ ext_order.date|date:"d.m.Y" }}</h2>
                    <div>
                        <a href="{% url 'ext_order_blank' order_pk=ext_order.pk filename='ПЭ_'|add:ext_order.filename %}" target="_blank">Скачать бланк</a>
                    </div>
                    <div class="horizontal_tables_list" style="width: 100%">
                        <table class="detail_view_table" style="max-width: 30%; margin-roght: 30px">
                            <tr>
                                <th>Исполнитель:</th>
                                <td>{{ ext_order.contractor }}</td>
                            </tr>
                            <tr>
                                <th>Договор:</th>
                                <td>{{ ext_order.contract }}</td>
                            </tr>
                            <tr>
                                <th>Закупочная цена:</th>
                                <td>{{ ext_order.price_carrier }} {{ ext_order.currency }}</td>
                            </tr>
                            <tr>
                                <th>НДС:</th>
                                <td>{{ ext_order.taxes }}%</td>
                            </tr>
                            <tr>
                                <th>Статус:</th>
                                <td>{{ ext_order.get_status_display }}</td>
                            </tr>
                        </table>
                        <table class="detail_view_table" style="min-width: 60%; max-width: 70%">
                            <tr>
                                <th>Адрес отправки:</th>
                                <th>Адрес доставки:</th>
                            </tr>
                            <tr>
                                <td width="45%">{{ ext_order.from_addr }}</td>
                                <td width="45%">{{ ext_order.to_addr }}</td>
                            </tr>
                            <tr>
                                <td><b>Желаемая дата отправки:</b> {{ ext_order.from_date_wanted|date:"d.m.Y" }}</td>
                                <td><b>Желаемая дата доставки:</b> {{ ext_order.to_date_wanted|date:"d.m.Y" }}</td>
                            </tr>
                            <tr>
                                <td><b>Отправитель:</b> {{ ext_order.sender }}</td>
                                <td><b>Получатель:</b> {{ ext_order.receiver }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Контактные лица:</b><br>
                                    <ul>
                                        {% for contact in ext_order.from_contacts.all %}
                                        <li><b>{{ contact.last_name }} {{ contact.first_name }}{% if contact.second_name %} {{ contact.second_name }}{% endif %}</b><br>
                                            <b>тел.</b> {{ contact.phone }}<br>
                                            <b>email</b> {% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <b>Контактные лица:</b><br>
                                    <ul>
                                        {% for contact in ext_order.to_contacts.all %}
                                        <li><b>{{ contact.last_name }} {{ contact.first_name }}{% if contact.second_name %} {{ contact.second_name }}{% endif %}</b><br>
                                            <b>тел.</b> {{ contact.phone }}<br>
                                            <b>email</b> {% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="ext_orders_hidden">
                    <table class="list_view_table_inactive" style="width: 100%">
                        <thead>
                            <tr>
                                <td>Маршрут</td>
                                <td>Вид перевозки</td>
                                <td>Дата отправки (план/факт)</td>
                                <td>Дата доставки (план/факт)</td>
                                <td>Кол-во мест</td>
                                <td>Оплачиваемый вес, кг</td>
                                <td>Номер транспортного документа</td>
                                <td>Статус</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for segment in ext_order.segments.all %}
                            <tr>
                                <td width="30%">{{ segment.from_addr }} - {{ segment.to_addr }}</td>
                                <td width="5%">{{segment.get_type_display}}</td>
                                <td width="15%">{{ segment.from_date_plan|date:"d.m.Y" }}/{{ segment.from_date_fact|date:"d.m.Y" }}</td>
                                <td width="15%">{{ segment.to_date_plan|date:"d.m.Y" }}/{{ segment.to_date_fact|date:"d.m.Y" }}</td>
                                <td width="5%">{{ segment.quantity }}</td>
                                <td width="5%">{{ segment.weight_payed }}</td>
                                <td width="15%"><span class="link_styled_span segment_docs" lk_type="management" segment_pk="{{ segment.pk }}">Документы</span></td>
                                <td width="10%">{{ segment.get_status_display }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="show_ext_orders_hidden add_btns_to_center">
                    <span class="link_styled_span"><span class="span_label">Показать</span> плечи</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-history">
            <div>
                <a href="{% url 'transit_status_edit' pk=transit.pk %}?next={{ request.path }}">Изменить</a>
            </div>
            <br>
            <table class="detail_view_table">
                <tbody>
                    {% for status in transit.history.all %}
                    <tr>
                        <td>{{ status.created_at|date:"d.m.Y" }}</td>
                        <td>{{ status.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function() {
        $('.tabs_list').each(function(){
            $(this).find('.tab_label').first().click()
        })
    })
</script>
{% endblock %}