{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
{% load menu_tags %}
<style>
    .transit_info_block {
        display: none;
    }

    .expandable_block {
        margin: 20px 0;
    }

    .expandable_block a {
        margin: 0 !important;
        width: 100%;
    }

    .trigger_button {
        margin-bottom: 15px;
    }

    div.items_block {
        transition: 200ms linear;
        border: 3px solid #f08500;
        box-shadow: 3px 3px 10px grey;
        margin-bottom: 15px;
        height: 0;
        width: calc(100% - 6px);
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
    }

    div.items_block>* {
        margin-right: 25px;
    }
</style>
<div class="profile_view">
    <div>
        <h2>Детализация поручения №{{ object.client_number }} от {{ object.creation_date }}</h2>
        <a href="{% url 'order_edit' pk=object.id %}">Редактировать</a>
        <a href="{% url 'order_delete' pk=object.id %} ">Удалить</a>
        <a href="{% url 'docs_edit' pk=object.id %} ">Приложить документы</a>
        {% if object.manager != request.user %}<a href="{% url 'manager_get' pk=object.pk %}?next={{ request.path }}">Взять в работу</a>{% endif %}
    </div>
    <div class="expandable_block">
        <div class="trigger_button"><b>Документы</b> (<a class="trigger">Показать</a>)</div>
        <div class="items_block">
            {% for doc in object.docs.all %}
            <div>
                <b>{{ doc.title }}</b> (<a download target="_blank" href="{{ doc.file.url }}">Скачать</a>)
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="horizontal_tables_list">
        <table class="detail_view_table">
            <tbody>
                <tr>
                    <th>Номер заказчика:</th>
                    <td>{{ object.client_number }}</td>
                </tr>
                <tr>
                    <th>Внутренний номер:</th>
                    <td>{{ object.inner_number }}</td>
                </tr>
                <tr>
                    <th>Менеджер:</th>
                    <td>{% if object.manager %}{{ object.manager }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Заказчик:</th>
                    <td>{{ object.client }}</td>
                </tr>
                <tr>
                    <th>Договор:</th>
                    <td>{% if object.contract %}{{ object.contract }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Сотрудник заказчика:</th>
                    <td>{% if object.client_employee %}{{ object.client_employee }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Вид поручения:</th>
                    <td>{{ object.get_type_display }}</td>
                </tr>
                <tr>
                    <th>Статус поручения:</th>
                    <td>{{ object.get_status_display }}</td>
                </tr>
                <tr>
                    <th>Ставка:</th>
                    <td>{{ object.price }}</td>
                </tr>
                <tr>
                    <th>Закупочная цена поручения:</th>
                    <td>{{ object.price_carrier }}</td>
                </tr>
            </tbody>
        </table>
        <table class="detail_view_table">
            <tbody>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <thead>
                                <tr>
                                    <th colspan="2">Параметры грузов:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Вес брутто: </b>{{ object.weight }} кг</td>
                                    <td><b>Кол-во мест: </b>{{ object.quantity }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <tr>
                                <th>Страхование:</th>
                                <td>{% if object.insurance %}Требуется{% else %}Не требуется{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Заявленная стоимость грузов:</th>
                                <td>{% if object.value %}{{ object.value }} {{ object.currency }}{% else %}Не указана{% endif %}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <thead>
                                <tr>
                                    <th colspan="2">Дата забора груза:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>План: </b>{{ object.from_date_plan|date:"d.m.Y" }}</td>
                                    <td><b>Факт: </b>{{ object.from_date_fact|date:"d.m.Y" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inline_table">
                            <thead>
                                <tr>
                                    <th colspan="2">Дата доставки груза:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>План: </b>{{ object.to_date_plan|date:"d.m.Y" }}</td>
                                    <td><b>Факт: </b>{{ object.to_date_fact|date:"d.m.Y" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Примечания:</th>
                </tr>
                <tr>
                    <td>{% if object.comment %}{{ object.comment|linebreaks }}{% else %}-{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <table class="detail_view_table">
            <tbody>
                <tr>
                    <td>
                        <b>История статусов</b>
                    </td>
                    <td>
                        <a href="{% url 'order_status_edit' pk=object.pk %}">Изменить</a>
                    </td>
                </tr>
                {% for status in object.history.all %}
                <tr>
                    <td>{{ status.created_at|date:"d.m.Y" }}</td>
                    <td>{{ status.get_status_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>Перевозки</h2>
    {% for transit in object.transits.all %}

    <div class="transit_tabs">
        <div class="tabs_list">
            <a class="tab_label" id="transits-{{ forloop.counter0 }}-general_tab">Общая информация</a>
            <a class="tab_label" id="transits-{{ forloop.counter0 }}-cargos_tab">Грузы</a>
            <a class="tab_label" id="transits-{{ forloop.counter0 }}-segments_tab">Плечи перевозки</a>
            <a class="tab_label" id="transits-{{ forloop.counter0 }}-history_tab">История статусов</a>
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-general">
            <h3>Перевозка {{ object.client_number }}/{{ transit.sub_number }}</h3>
            <div  class="horizontal_tables_list">
                <table class="detail_view_table">
                    <tbody>
                        <tr>
                            <th>Адрес забора груза</th>
                            <td>{{ transit.from_addr }}</td>
                        </tr>
                        <tr>
                            <th>Отправитель:</th>
                            <td>{{ transit.from_org }}</td>
                        </tr>
                        <tr>
                            <th>ИНН отправителя:</th>
                            <td>{{ transit.from_inn }}</td>
                        </tr>
                        <tr>
                            <th>Юр. адрес:</th>
                            <td>{{ transit.from_legal_addr }}</td>
                        </tr>
                        <tr>
                            <th>Контактное лицо:</th>
                            <td>{{ transit.from_contact_name }}</td>
                        </tr>
                        <tr>
                            <th>Телефон:</th>
                            <td>{{ transit.from_contact_phone }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ transit.from_contact_email }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="inline_table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Дата забора груза:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>План: </b>{{ transit.from_date_plan|date:"d.m.Y" }}</td>
                                            <td><b>Факт: </b>{{ transit.from_date_fact|date:"d.m.Y" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="detail_view_table">
                    <tbody>
                        <tr>
                            <th>Адрес доставки</th>
                            <td>{{ transit.to_addr }}</td>
                        </tr>
                        <tr>
                            <th>Получатель:</th>
                            <td>{{ transit.to_org }}</td>
                        </tr>
                        <tr>
                            <th>ИНН получателя:</th>
                            <td>{{ transit.to_inn }}</td>
                        </tr>
                        <tr>
                            <th>Юр. адрес:</th>
                            <td>{{ transit.to_legal_addr }}</td>
                        </tr>
                        <tr>
                            <th>Контактное лицо:</th>
                            <td>{{ transit.to_contact_name }}</td>
                        </tr>
                        <tr>
                            <th>Телефон:</th>
                            <td>{{ transit.to_contact_phone }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ transit.to_contact_email }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="inline_table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Дата доставки груза:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>План: </b>{{ transit.to_date_plan|date:"d.m.Y" }}</td>
                                            <td><b>Факт: </b>{{ transit.to_date_fact|date:"d.m.Y" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="detail_view_table">
                    <tr>
                        <th>Статус</th>
                        <td>{{ transit.get_status_display }}</td>
                    </tr>
                    <tr>
                        <th>Вид перевозки</th>
                        <td>{{ transit.type }}</td>
                    </tr>
                    <tr>
                        <th>Заявленная стоимость груза</th>
                        <td>{{ transit.value }}</td>
                    </tr>
                    <tr>
                        <th>Доп. услуги</th>
                        <td>{{ transit.extra_services.all|join:", " }}</td>
                    </tr>
                    <tr>
                        <th>Закупочная стоимость</th>
                        <td>{{ transit.price_carrier }}</td>
                    </tr>
                    <tr>
                        <th>Ставка</th>
                        <td>{{ transit.price }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-cargos">
            <table class="list_view_table_inactive">
                <thead>
                    <tr>
                        <td>Наименование</td>
                        <td>Маркировка</td>
                        <td>Тип упаковки</td>
                        <td>Габариты (ДхШхВ), см</td>
                        <td>Вес, кг</td>
                        <td>Количество мест</td>
                        <td>Объемный вес, кг</td>
                        <td>Доп параметры</td>
                    </tr>
                </thead>
                <tbody>
                    {% for cargo in transit.cargos.all %}
                    <tr class="short_inactive">
                        <td>{{ cargo.title }}</td>
                        <td>{% if cargo.mark %}{{ cargo.mark }}{% else %}-{% endif %}</td>
                        <td>{{ cargo.get_package_type_display }}</td>
                        <td>{{ cargo.length }}x{{ cargo.width }}x{{ cargo.height }}</td>
                        <td>{{ cargo.weight|floatformat:2 }}</td>
                        <td>{{ cargo.quantity }}</td>
                        <td>{{ cargo.volume_weight|floatformat:2 }}</td>
                        <td>{% if cargo.extra_params.exists %}{{ cargo.extra_params.all|join:", " }}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="detail_view_table">
                <tbody>
                    <tr>
                        <th colspan="2">Суммарные характеристики грузов</th>
                    </tr>
                    <tr>
                        <th>
                            Вес брутто:
                        </th>
                        <td>
                            {{ transit.weight|floatformat:2 }} кг
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Объем:
                        </th>
                        <td>
                            {{ transit.volume|floatformat:2 }} м&sup3;
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Оплачиваемый вес:
                        </th>
                        <td>
                            {{ transit.weight_payed|floatformat:2 }} кг
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Количество мест:
                        </th>
                        <td>
                            {{ transit.quantity|floatformat:0 }} шт
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-segments">
            <div>
                <a href="{% url 'segments_edit' pk=transit.pk %}">Изменить</a>
            </div>
            <br>
            <table class="list_view_table_inactive">
                <thead>
                    <tr>
                        <td>Маршрут</td>
                        <td>Дата отправки (план/факт)</td>
                        <td>Дата доставки (план/факт)</td>
                        <td>Кол-во мест</td>
                        <td>Оплачиваемый вес</td>
                        <td>Ставка</td>
                        <td>Перевозчик</td>
                        <td>Закупочная цена</td>
                        <td>Статус</td>
                    </tr>
                </thead>
                <tbody>
                    {% for segment in transit.segments.all %}
                    <tr>
                        <td>{{ segment.from_addr }} - {{ segment.to_addr }} ({{segment.get_type_display}})</td>
                        <td>{{ segment.from_date_plan|date:"d.m.Y" }}/{{ segment.from_date_fact|date:"d.m.Y" }}</td>
                        <td>{{ segment.to_date_plan|date:"d.m.Y" }}/{{ segment.to_date_fact|date:"d.m.Y" }}</td>
                        <td>{{ segment.quantity }}</td>
                        <td>{{ segment.weight_payed }}</td>
                        <td>{{ segment.price }} {{ segment.currency }}</td>
                        <td>{{ segment.carrier }}</td>
                        <td>{{ segment.price_carrier }} {{ segment.currency }}</td>
                        <td>{{ segment.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="transit_info_block" id="transits-{{ forloop.counter0 }}-history">
            <div>
                <a href="{% url 'transit_status_edit' pk=transit.pk %}">Изменить</a>
            </div>
            <br>
            <table class="detail_view_table">
                <tbody>
                    {% for status in transit.history.all %}
                    <tr>
                        <td>{{ status.created_at|date:"d.m.Y" }}</td>
                        <td>{{ status.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $('.short').click(function(){
        if (!$(this).next().attr('style')){
            $(this).next().css('display', 'table-row')
        }else{
            $(this).next().removeAttr('style')
        }
    })
    $('.tab_label').click(function(e){
        e.preventDefault()
        target_id = '#' + $(this).attr('id').split('_')[0]
        $(this).parent().find('.tab_label').removeClass('active')
        $(this).addClass('active')
        $(this).parent().parent().find('.transit_info_block').removeAttr('style')
        $(target_id).css('display', 'block')
    })
    $('body').on('click', '.trigger', function (e) {
        e.preventDefault()
        itemsBlock = $(this).parent().next()
        if (itemsBlock.attr('style')) {
            itemsBlock.removeAttr('style')
        } else {
            itemsBlock.css({
                "padding": "25px",
                "width": "calc(100% - 56px)",
                "height": "auto",
            })
        }
    })
    $(document).ready(function() {
        $('.tabs_list').each(function(){
            console.log($(this).find('.tab_label'))
            $(this).find('.tab_label').first().click()
        })
    })
</script>
{% endblock %}