{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
{% load menu_tags %}
<div>
    <h2>Отчеты</h2>
</div>
<form id="fields_list" method="post">
    {% csrf_token %}
    <div class="expandable_block">
        <div class="trigger_button">
            <span class="trigger link_styled_span">Выбрать поля отчета</span>
        </div>
        <div id="field_types_list" class="items_block column_nowrap">
            <p>{{ fields_form.non_form_errors }}</p>
            <div class="field_type">
                <h3>{{ fields_form.order_fields.label }}:</h3>
                <p>{{ fields_form.order_fields.errors }}</p>
                <div class="checkbox_list_long">
                    {{ fields_form.order_fields }}
                </div>
            </div>
            <div class="field_type">
                <h3>{{ fields_form.transit_fields.label }}:</h3>
                <p>{{ fields_form.transit_fields.errors }}</p>
                <div class="checkbox_list_long">
                    {{ fields_form.transit_fields }}
                </div>
            </div>
            <div class="field_type">
                <h3>{{ fields_form.segment_fields.label }}:</h3>
                <p>{{ fields_form.segment_fields.errors }}</p>
                <div class="checkbox_list_long">
                    {{ fields_form.segment_fields }}
                </div>
            </div>
            {{ fields_form.report_name.as_hidden }}
            {{ fields_form.report_type.as_hidden }}
            <div>
                <button id="save_report" type="submit">Сохранить шаблон</button>
                <span class="link_styled_span" id="select_all_fields" style="margin-right: 10px;">Выбрать все</span>
                <span class="link_styled_span" id="clear_fields">Очистить все</span>
            </div>
        </div>

    </div>
    <div class="horizontal_reports_forms">
        <div class="field_type" style="width: 100%;">
            <h3>Фильтры</h3>
            <div class="horizontal_tables_list">
                <table class="form_table">
                    <thead>
                        <tr><th colspan="2">Дата поручения</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ filter_form.order__order_date__gte.label }}</th>
                            <td>{{ filter_form.order__order_date__gte }}</td>
                        </tr>
                        <tr>
                            <th>{{ filter_form.order__order_date__lte.label }}</th>
                            <td>{{ filter_form.order__order_date__lte }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="form_table">
                    <thead>
                        <tr><th colspan="2">Дата завершения перевозок</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ filter_form.order__to_date_fact__gte.label }}</th>
                            <td>{{ filter_form.order__to_date_fact__gte }}</td>
                        </tr>
                        <tr>
                            <th>{{ filter_form.order__to_date_fact__lte.label }}</th>
                            <td>{{ filter_form.order__to_date_fact__lte }}</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead><tr><th><br></th></tr></thead>
                    <tbody>
                        <tr>
                            <th>{{ filter_form.segment__carrier.label }}</th>
                            <td>{{ filter_form.segment__carrier }}</td>
                        </tr>
                        <tr>
                            <th>{{ filter_form.order__client.label }}</th>
                            <td>{{ filter_form.order__client }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if saved_reports.exists %}
        <div class="field_type">
            <p style="white-space: nowrap"><b>Сохраненные шаблоны:</b></p>
            <select id="report_template_select" style="width: 100%">
                <option value="none">Выбрать...</option>
                {% for report in saved_reports %}
                <option value="{{ report.pk }}">{{ report.name }}</option>
                {% endfor %}
            </select>
            {% if request.GET.report %}
                <span class="link_styled_span thin_button" id="update_report">Обновить выбранный шаблон</span>
                <span class="link_styled_span thin_button" id="delete_report">Удалить выбранный шаблон</span>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <button out_type="web" type="submit">Вывести на экран</button>
    <button out_type="csv" type="submit">Выгрузить CSV</button>
<!--    <button out_type="xlsx" type="submit">Выгрузить в Excel</button>-->
</form>
<div id="hidden_name_input" style="display: none">
    <form id="report_name_form">
        <div>
            <h3><label for="report_name_input">Введите имя нового шаблона:</label></h3>
            <input type="text" id="report_name_input">
        </div>
        <button type="submit">Сохранить шаблон</button>
    </form>
</div>
{% if objects %}
<div id="report_block">
    <table id="report_table">
        <thead>
            <tr>
                {% if fields_counter.order %}<td colspan="{{ fields_counter.order }}">Поля поручения</td>{% endif %}
                {% if fields_counter.transit %}<td colspan="{{ fields_counter.transit }}">Поля перевозки</td>{% endif %}
                {% if fields_counter.segment %}<td colspan="{{ fields_counter.segment }}">Поля плеча перевозки</td>{% endif %}
            </tr>
            <tr>
                {% for field in fields %}
                <td>{{ field }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                {% for field in object %}
                <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<div id="modalWindow">
    <div id="modalWrapper">
        <div id="modalQuickView"></div>
        <div id="modalCloseButton" onclick="closeModal()">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="35px" height="35px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                xml:space="preserve">
                <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256
                0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256"/>
            </svg>
        </div>
    </div>
</div>
<script>
    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    $('#save_report').on('click', function(e){
        e.preventDefault()
        name_form = $($('#hidden_name_input').html())
        $('#hidden_name_input').html(null)
        $('#modalQuickView').append(name_form)
        $('#modalWindow').css('display', 'flex');
        $('html, body').css({
            overflow: 'hidden',
            height: '100%'
        });
    })

    $('#update_report').on('click', function(e){
        e.preventDefault()
        $.ajax({
            url: url = "{% if request.GET.report %}{% url 'reports_update' report_id=request.GET.report %}{% endif %}",
            type: 'POST',
            data: $('#fields_list').serialize(),
            success: function(data){
                parsed_data = JSON.parse(data)
                if (parsed_data['status'] == 'ok') {
                    window.location.href = parsed_data['url']
                } else {
                    console.log(parsed_data['message'])
                }
            }
        })
    })

    $('#delete_report').on('click', function(e){
        e.preventDefault()
        $.ajax({
            url: url = "{% if request.GET.report %}{% url 'reports_delete' report_id=request.GET.report %}{% endif %}",
            type: 'POST',
            data: $('#fields_list').serialize(),
            success: function(data){
                parsed_data = JSON.parse(data)
                if (parsed_data['status'] == 'ok') {
                    window.location.href = parsed_data['url']
                } else {
                    console.log(parsed_data['message'])
                }
            }
        })
    })

    $('#modalWindow').on('click', 'button[type=submit]', function(e){
        e.preventDefault()

        $('#id_report_name').val($('#report_name_input').val())

        $.ajax({
            url: url = "{% url 'reports_create' %}",
            type: 'POST',
            data: $('#fields_list').serialize(),
            success: function(data){
                parsed_data = JSON.parse(data)
                if (parsed_data['status'] == 'ok') {
                    window.location.href = parsed_data['url']
                } else {
                    console.log(parsed_data['message'])
                }
            }
        })
    })

    $('#fields_list>button[type=submit]').on('click', function(e){
        e.preventDefault()
        $('#id_report_type').val($(this).attr('out_type'))
        $('#fields_list').submit()
    })
    $('#report_template_select').on('change', function(){
        url = document.location.pathname
        if ($(this).val() != 'none') { url = url + '?report=' + $(this).val() }
        document.location = url
    })

    $(window).on('load', function() {
        reportId = getUrlParameter('report')
        if (reportId) {
            $('#report_template_select').val(reportId)
        } else {
            $('#report_template_select').val('none')
        }
    })

    $('#select_all_fields').on('click', function(){
        $('#field_types_list input[type=checkbox]').prop('checked', true)
    })

    $('#clear_fields').on('click', function(){
        $('#field_types_list input[type=checkbox]').prop('checked', false)
    })

</script>
{% endblock %}