{% block 'inner_content' %}
<div>
    <h1>{{ form.instance }}</h1>
    <h2>Вы уверены, что хотите удалить скан ЭР №{{ object.doc_number }}?</h2>
</div>
<form id="delete_original" method="post">
    {% csrf_token %}

    <table class="form_table">
        {{ form.as_table }}
    </table>
    <button type="submit">Да</button>
    <a href="{{ return_url }}">Нет</a>
</form>
{% endblock %}

<script>
    $('#delete_original button[type=submit]').click(function(e){
        e.preventDefault()
        url = '{{ request.path }}'
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#delete_original').serialize(),
            success: function(data){
                content = $(data)
                if (content.find('#id_waybill_number').length == 0) {
                    showModal("{{ return_url }}");
                } else {
                    $('#subModalQuickView').html(null);
                    $('#subModalQuickView').append(content);
                    $('#subModalWindow').css('display', 'flex');
                    $('html, body').css({
                        overflow: 'hidden',
                        height: '100%'
                    });
                }
            }
        });
    })
</script>