{% block 'inner_content' %}
<div>
    <h2>Введите данные для формирования ТН</h2>
</div>
<form id="add_waybill_data" method="post">
    {% csrf_token %}
    {{ form.as_my_style }}
    <button type="submit">Сохранить</button>
    <span class="link_styled_span" onclick="clicked_sub_link.click()">Отмена</span>
</form>
{% endblock %}

<script>
    $('#add_waybill_data button[type=submit]').click(function(e){
        e.preventDefault()
        url = '{{ request.path }}'
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#add_waybill_data').serialize(),
            success: function(data){
                content = $(data)
                if (content.find('#id_waybill_number').length == 0) {
                    clicked_sub_link.click()
                } else {
                    $('#subModalQuickView').html(null);
                    $('#subModalQuickView').append(content);
                    $('#subModalWindow').css('display', 'flex');
                    $('html, body').css({
                        overflow: 'hidden',
                        height: '100%'
                    });
                }
            }
        });
    })
</script>