html {
  height: 100%;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1280px;
  font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#id_comment, input, select {
    font-family: Montserrat, sans-serif;
    border: 2px solid black;
    height: 25px;
    font-size: 18px;
}

input[type="number" i] {
    width: 150px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: pointer;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

div.checkbox_list {
    margin-bottom: 10px;
}

.cargo_extra_params, .transit_extra_services {
    white-space: nowrap;
}

label {
    white-space: nowrap
}

div.checkbox_list label {
    font-size: 15px;
}

#id_comment {
    width: 500px;
    height: 95px;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 5px 5px black;
    align-items: center;
    z-index: 100
}

#menu_wrapper a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
}

#menu_wrapper a:hover {
    border-bottom: 2px solid black;
}

#logo {
    margin-left: 50px
}

#logo img {
    height: 100px;
}

#menu_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

#decor {
    height: 100%;
    width: 0px;
    background: black;
    position:relative;
    margin-right: 100px;
}

#decor::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
}

#decor::after {
    content: '';
    position:absolute;
    right: -100px;
    width:0;
    height:0;
    border-top: 100px solid black;
    border-right: 100px solid transparent;
}

#menu {
    height: 100%;
    position:relative;
    background: #b9bab9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
}

#menu::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid #b9bab9;
    border-left: 100px solid transparent;
}

#menu::after {
    content: '';
    position:absolute;
    right: -100px;
    width:0;
    height:0;
    border-top: 100px solid #b9bab9;
    border-right: 100px solid transparent;
}

#menu div {
    margin: 20px;
}

#login_block {
    height: 100%;
    min-width: 100px;
    padding-right: 10px;
    background: #f08500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_block::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid #f08500;
    border-left: 100px solid transparent;
}

.login_label {
    margin: 0 10px;
    font-weight: block;
}

.login {
    display: flex;
}

#all_content {
    flex: 1 0 auto;
    padding-top: 30px;
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}


.link_styled_span {
    font-weight: bold;
    color: #f08500;
    cursor: pointer;
}


#all_content a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    color: #f08500;
}

.outer_view {
    background-color: white;
    padding: 30px;
    box-shadow: 3px 3px 10px gray;
}

.link_styled_span:hover,
#all_content a:hover {
    color: #1d1d1d
}

#ca_menu {
    align-self: flex-start;
}

.tabs_list {
    display: flex;
    background-color: white;
}

span.tab_label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    padding: 10px 30px 10px 30px;
    margin-right: 0 !important;
    background-color: #d7d7d7;
    transition: 100ms linear;
    cursor: pointer;
    font-weight: bold;
}

span.tab_label.active,
span.tab_label:hover {
    background-color: #f08500 !important;
    color: black !important;
    box-shadow: none !important;
}

.transit_info_block {
    display: inline-block;
    min-width: calc(100% - 48px);
    border: 3px solid #f08500;
    box-shadow: 3px 3px 10px gray;
    padding: 20px;
    margin-bottom: 15px;
    min-height: 350px;
}

button[type=submit],
#ca_menu a.menu_item {
    display: block;
    color: white;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 0;
    background-color: #1d1d1d;
    border: none;
    box-shadow: 3px 3px 10px gray;
    transition: 150ms linear;
    cursor: pointer;
}

#ca_menu a.menu_item.active,
#ca_menu a.menu_item:hover,
button[type=submit]:hover
{
    background-color:#f08500 !important;
    color: black;
}

button[type=submit]{
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-left: 0;
    margin-top: 15px;
    display: inline-block;
    margin-right: 25px;
}

.inner_content {
    align-self: flex-start;
    width: calc(100% - 270px);
    min-height: calc(100% - 30px);
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    overflow-x: auto;
}
.filter_cats {
        display: flex;
    }
.filter_cats>div {
        margin-left: 25px;
    }

.filter_cats a.selected {
        color: #1d1d1d !important
    }

#list_view_filter {
        display: flex;
        background-color: #eeeeee;
        padding-left: 20px;
    }

.search {
    height: 39px;
}

.form-search {
    min-width: 500px;
}

h4 {
    margin-left: 25px !important;
    font-size: 18pt;
    margin-block-start: 15px;
    margin-block-end: 15px;
}

.status_form {
    display: inline-block;
    min-width: calc(100% - 28px);
    margin: 4px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #a0a0a0;
    background-color: #eeeeee;
    box-shadow: 3px 3px 10px gray;
}

div.status_field {
    margin: 10px;
}

div.status_field input {

}

div.status_field input[type="text" i] {
    width: 450px;
}

div.status_field select{
    height: 30px;
}

div.status_row {
    margin: 5px;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

div.status_hidden_field {
        display: none;
    }

div.status_field {
        margin-right: 20px;
    }

input[type=datetime-local] {
        width: 200px;
    }

a {
        cursor: pointer;
    }

.status_field_label {
    font-size: 16px;
}

.status_field_label, .status_field_label input {
    margin-block-start: 0;
    margin-block-end: 5px;
    text-align: center;
    white-space: nowrap;
}

.segment_dates_blocks, .segment_text_blocks {
    margin: 10px;
}

.segment_dates_blocks {
    display: inline-block;
}

@media screen and (max-width: 1360px) {
    .segment_dates_blocks {display: block;}
}

div.status_form input[type=number], select {
    border: 2px solid black;
    width: 165px;
    height: 25px;
    font-size: 16px;
}

div.status_form {

    }

div.status_hidden_field {
        display: none;
    }

div.status_row {
        display: flex;
        margin-bottom: 20px;
    }

 div.status_field {
        margin-right: 20px;
    }

input[type=datetime-local] {
        width: 200px;
    }

a {
        cursor: pointer
    }

.btn_delete_status {
    margin: 10px;
    margin-top: 25px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-self: center;
}

table.form_table,
table.detail_view_table {
    border-spacing: 0;
}

table.form_table td,
table.detail_view_table td {
    padding: 5px;
}

table.form_table th,
table.detail_view_table th {
    padding-right: 35px;
    text-align: left !important;
}

table.list_view_table_inactive {
    max-width: calc(100% - 10px);
    border-spacing: 0;
    margin-bottom: 15px;
}

table.list_view_table_inactive thead {
    background-color: white;
    color: #1d1d1d;
    font-weight: bold;
}


table.list_view_table_inactive tr>td {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

table.list_view_table_inactive tbody tr:nth-child(2n+1) {
    background-color: #b9bab9;
}

table.list_view_table_inactive tbody tr:nth-child(2n) {
    background-color: #d7d7d7;
}

table.list_view_table {
    max-width: calc(100% - 10px);
    border-spacing: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

table.list_view_table:hover {
    background-color: #f08500;
}

table.list_view_table thead {
    background: #989898;
}

.list_view_table thead a {
    white-space: nowrap;
    color: black !important;
}

.list_view_table thead a:hover {
    color: white !important;
}

table.list_view_table tr>td {
    padding: 5px;
}

table.list_view_table tbody tr:nth-child(2n+1) {
    background-color: #ebebeb;
}

table.list_view_table tbody tr:nth-child(2n) {
    background-color: #d7d7d7;
}

table.list_view_table tbody tr:nth-child(2n):hover,
table.list_view_table tbody tr:nth-child(2n+1):hover {
    background-color: #f08500;
    cursor: pointer;
}

a.table_link {
    color: #1d1d1d !important;
}

a.table_link:hover {
    color: #636363 !important;
}

.svg_icon {
    margin: 0 20px;
    align-self: center;
}

div.svg_icon svg {
    fill: #f08500;
}

div.svg_icon:hover svg {
    fill: #1d1d1d;
    cursor: pointer;
}

.transit_form,
.ext_order_form {
    background-color: #eeeeee;
    display: inline-block;
    margin-bottom: 10px;
    min-width: 100%;
}

div.cargo_form,
.segment_form {
    min-width: calc(100% - 28px);
    display: inline-flex;
    margin: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d7d7d7;
}

div.cargo_form select {
    border: 2px solid black;
    height: 31px;
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    margin-right: 5px;
}

div.cargo_table {
    min-width: calc(100% - 28px);
    display: inline-block;
    margin-top: 10px;
}

div.cargo_row {
    margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.cargo_form input[type=number],
div.cargo_form input[type=text] {
    border: 2px solid black;
    height: 25px;
    font-size: 16px;
}

div.cargo_form input[type=number] {
    width: 80px !important;
}

.cargo_title {
    width: 200px;
}

.cargo_mark {
    width: 100px;
}

.cargo_package_type {
    width: 195px;
}

.transit_info_block {
        display: none;
    }

.expandable_block {
        margin: 20px 0;
    }

.expandable_block a {
        margin: 0 !important;
        width: 100%;
    }

.trigger_button {
        margin-bottom: 15px;
    }

div.items_block {
        transition: 200ms linear;
        border: 3px solid #f08500;
        box-shadow: 3px 3px 10px grey;
        margin-bottom: 15px;
        height: 0;
        width: calc(100% - 6px);
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
    }

div.items_block>* {
        margin-right: 25px;
    }

.cargo_weight,
.transit_currency,
.order_currency,
.segment_currency {
    width: 75px;
    height: 31px;
}

.segment_taxes {
    width: 110px;
    height: 31px;

}

.order_taxes {
    width: 110px;
    height: 31px;
}

.order_manager,
.order_client,
.order_client_employee,
.order_type,
.order_status {
    height: 31px;
    width: 200px;
}

.segment_price, .segment_price_carrier {
    width: 150px;
}

.segment_weight_payed {
    width: 160px;
}

.transit_status, .transit_currency, .segment_type, .segment_carrier, .segment_status {
    height: 31px;
    }

.segment_comment, .segment_tracking_number {
    width: 250px;
}

.transit_info_block {
        display: none;
    }

.expandable_block {
        margin: 20px 0;
    }

.expandable_block a {
        margin: 0 !important;
        width: 100%;
    }

.trigger_button {
        margin-bottom: 15px;
    }

div.items_block {
        transition: 200ms linear;
        border: 3px solid #f08500;
        box-shadow: 3px 3px 10px grey;
        margin-bottom: 15px;
        height: 0;
        width: calc(100% - 6px);
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
    }

div.items_block>* {
        margin-right: 25px;
    }

.segment_contract {
    width: 350px;
}

.transit_status {
    width: 260px;
}

.cargo_single_field {

}

.currency_select {
    margin-left: 4px;
    width: 70px !important;
}

div.cargo_form p {
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
}

div.cargo_form>div {

}

div.cargo_form .cargo_rows_block {
}

.cargo_row {
    display: flex;
}

.cargo_row>div {
    margin-right: 15px;
}

.cargo_input_bundle {
    max-width: 200px;
    margin-top: 3px;
    margin-right: 25px;
}

.cargo_input_bundle p {

}

.cargo_input_bundle div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5px;
}

.cargo_input_bundle input {
    min-width: 25%;
    max-width: 65%;
    margin: 2px;
}

.cargo_input_bundle select {
    min-width: calc(25% + 4px)
    max-width: calc(30% + 4px)
}

.cargo_form p {

}

div.cargo_hidden_field {
    display: none;
}

.btn_delete_cargo {
    margin-left: 25px;
    display: flex;
    align-self: center;
}

.hover_for_btns {
    cursor: pointer;
    color: #1d1d1d;
}

.add_btns_to_center {
    padding: 20px;
    display: block;
    text-align: center;
}

.segment_from_addr, .segment_to_addr {
    margin-bottom: 10px;
    width: 100%;
}

.horizontal_tables_list td,
.horizontal_tables_list td, {
        padding: 0 !important;
        padding-bottom: 10px !important;
    }

.horizontal_tables_list>table {
        margin-right: 15px;
    }

table.inline_table {
        min-width: 300px;
    }

table.inline_table>thead th {
        padding-bottom: 10px;
    }

table.expandable_list_view_table {
        border-spacing: 0;
        margin-bottom: 15px;
        border-collapse: collapse;
        border: 1px solid black;
    }

table.expandable_list_view_table thead {
        background: black;
        color: white;
    }

table.expandable_list_view_table tbody tr.short {
        cursor: pointer;
        border-top: 1px solid black;
    }

table.expandable_list_view_table tbody tr.detailed {
        display: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin-bottom: 25px;
    }

tr.short_inactive {
        cursor: default !important;
    }

table.list_view_table tr>td,
table.expandable_list_view_table tr>td {
        padding: 10px 15px;
        text-align: center !important;
    }

table.expandable_list_view_table tr>td * {
        text-align: left;
    }

table.expandable_list_view_table tbody tr.short:nth-child(4n+1),
table.expandable_list_view_table tbody tr.short_inactive:nth-child(2n+1) {
        background-color: #b9bab9;
    }

table.expandable_list_view_table tbody tr.short:nth-child(4n+3),
table.expandable_list_view_table tbody tr.short_inactive:nth-child(2n) {
        background-color: rgba(185,186,185,0.5);
    }

table.expandable_list_view_table>tbody>tr.short:hover {
        background-color: #f08500;
    }

.horizontal_tables_list {
        max-width: calc(100% - 20px);
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }

.horizontal_tables_list, .btn_delete_transit, h3  {
        margin-left: 5px;
 }

h3 {
    margin-top: 10px;
}

.form_table {
    margin-left: 25px;
}

.horizontal_tables_list td,
.horizontal_tables_list td, {
    padding: 0 !important;
    padding-bottom: 10px !important;
    }

.horizontal_tables_list>table {
    margin-right: 15px;
    }

form .helptext {
    display: none;
}

#footer {
    flex-shrink: 0;
    background: #b9bab9;
    border-left: 50px solid black;
    border-right: 50px solid #f08500;
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
}

#footer a {
    color: black;
}

.copyright {
    align-self: flex-end;
    font-size: 0.8em;
    text-align: center;
}

label.required::after {
    content: '*';
    color: red;
}

#subModalWindow,
#modalWindow {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: RGBA(0,0,0,0.5)
}

#subModalWrapper,
#modalWrapper {
    display: flex;
}

#subModalQuickView,
#modalQuickView {
    background: white;
    max-width: 90vw;
    max-height: 80vh;
    padding: 30px;
    overflow: auto;
    position: relative;

}

#subModalCloseButton,
#modalCloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #d7d7d7;
    cursor: pointer;
    /*align-self: flex-start;*/
    margin-top: -25px;
    margin-left: 10px;
}

#subModalCloseButton:hover,
#modalCloseButton:hover {
    background-color: #f08500;
}

#subModalCloseButton svg,
#modalCloseButton svg {
    margin: 10px;
}

.cp_alert {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: transparent;
    transition: 0.5s;
}

.searchable {
    height: 300px;
    margin-top: 15px;
    overflow-y: auto
}

#cp_select_form input[type="radio"],
#contact_select_similar_form input[type="radio"],
#contact_select_form input[type="checkbox"] {
    display: none;
}

#cp_select_form table,
#contact_select_form table {
    border-collapse: collapse
}

#cp_select_form tr,
#contact_select_form tr {
    border: 3px solid white;
    background: #d7d7d7;
    cursor: pointer;
}

#cp_select_form tr td,
#contact_select_form tr td {
    padding: 10px;
}

.checked {
    background: #f08500 !important;
}

.dark {
    color: #1d1d1d
}

.dark:hover {
    color: #636363
}

.field_type {
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 10px black;
}

.checkbox_list_long>div {
    display: flex;
    flex-flow: column wrap;
    max-height: 250px;
}

.checkbox_list_long>div>div {
    width: 250px;
}

#all_content a.active {
    color: #1d1d1d
}

#report_block {
    width: calc(100% - 20px);
    overflow: auto
}

#report_table {
    white-space: nowrap;
    border-collapse: collapse;
    border: 1px solid;
}

#report_table thead td {
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    padding: 10px;
}

#report_table tbody td {
    text-align: center;
    border: 1px solid;
    padding: 10px;
    max-width: 500px;
    overflow: hidden;
}

.column_nowrap {
    flex-flow: column nowrap !important;
}

#filters_form {
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 10px black;
}

.horizontal_reports_forms {
    display: flex;
    justify-content: space-between
}

.thin_button {
    display: block;
    white-space: nowrap;
    margin-top: 10px;
}

.extra_transit_data>div {
    display: none
}
