html, body {
  height: 100%;
  margin: 0;
  max-width: 1920px;
  min-width: 1280px;
  font-family: Montserrat, sans-serif;
}

#id_comment, input, select {
    font-family: Montserrat, sans-serif;
    border: 2px solid black;
    height: 25px;
    font-size: 18px;
}

input[type="number" i] {
    width: 100px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: pointer;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

div.checkbox_list {
    margin-bottom: 10px;
}

label {
}

div.checkbox_list label {
    font-size: 15px;
}

#id_comment {
    width: 500px;
    height: 95px;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 5px 5px black;
    align-items: center;
    z-index: 100
}

#menu_wrapper a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
}

#menu_wrapper a:hover {
    border-bottom: 2px solid black;
}

#logo {
    margin-left: 50px
}

#logo img {
    height: 100px;
}

#menu_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

#decor {
    height: 100%;
    width: 0px;
    background: black;
    position:relative;
    margin-right: 100px;
}

#decor::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
}

#decor::after {
    content: '';
    position:absolute;
    right: -100px;
    width:0;
    height:0;
    border-top: 100px solid black;
    border-right: 100px solid transparent;
}

#menu {
    height: 100%;
    position:relative;
    background: #b9bab9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
}

#menu::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid #b9bab9;
    border-left: 100px solid transparent;
}

#menu::after {
    content: '';
    position:absolute;
    right: -100px;
    width:0;
    height:0;
    border-top: 100px solid #b9bab9;
    border-right: 100px solid transparent;
}

#menu div {
    margin: 20px;
}

#login_block {
    height: 100%;
    min-width: 100px;
    padding-right: 10px;
    background: #f08500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_block::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid #f08500;
    border-left: 100px solid transparent;
}

.login_label {
    margin: 0 10px;
    font-weight: block;
}

.login {
    display: flex;
}

#all_content {
    flex: 1 0 auto;
    padding-top: 30px;
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#all_content a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    color: #f08500;
}

.outer_view {
    background-color: white;
    padding: 30px;
    box-shadow: 3px 3px 10px gray;
}

#all_content a:hover {
    color: #1d1d1d
}

#ca_menu {
    align-self: flex-start;
}

.tabs_list {
    display: flex;
    background-color: white;
}

a.tab_label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    padding: 10px 30px 10px 30px;
    margin-right: 0 !important;
    background-color: #d7d7d7;
    transition: 100ms linear;
    cursor: pointer;
}

a.tab_label.active,
a.tab_label:hover {
    background-color: #f08500 !important;
    color: black !important;
    box-shadow: none !important;
}

.transit_info_block {
    border: 3px solid #f08500;
    box-shadow: 3px 3px 10px gray;
    padding: 20px;
    margin-bottom: 15px;
    min-height: 350px;
}

button[type=submit],
#ca_menu a.menu_item {
    display: block;
    color: white;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 0;
    background-color: #1d1d1d;
    border: none;
    box-shadow: 3px 3px 10px gray;
    transition: 150ms linear;
    cursor: pointer;
}

#ca_menu a.menu_item.active,
#ca_menu a.menu_item:hover,
button[type=submit]:hover
{
    background-color:#f08500 !important;
    color: black;
}

button[type=submit]{
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-left: 0;
    margin-top: 15px;
    display: inline-block;
    margin-right: 25px;
}

.inner_content {
    align-self: flex-start;
    width: calc(100% - 270px);
    min-height: calc(100% - 30px);
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    overflow-x: scroll;
}

h4 {
    font-size: 18pt;
}

.status_form {
    min-width: 100%;
    margin: 4px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    background-color: #dadada;
}

div.status_field {
    margin: 10px;
    align-items: center;
}

div.status_field input {

}

div.status_field input[type="text" i] {
    width: 450px;
}

div.status_field select{
    height: 30px;
}

div.status_row {
    margin: 5px;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

div.status_hidden_field {
        display: none;
    }

div.status_field {
        margin-right: 20px;
    }

input[type=datetime-local] {
        width: 200px;
    }

a {
        cursor: pointer;
    }

.status_field_label {
    font-size: 16px;
}

.status_field_label, .status_field_label input {
    margin-block-start: 0;
    margin-block-end: 5px;
    text-align: center;
    white-space: nowrap;
}

.segment_dates_blocks, .segment_text_blocks {
    margin: 10px;
}

.segment_dates_blocks {
    display: inline-block;
}

@media screen and (max-width: 1360px) {
    .segment_dates_blocks {display: block;}
}
div.status_form input[type=number], select {
    border: 2px solid black;
    width: 165px;
    height: 25px;
    font-size: 16px;
}

.btn_delete_status {
    display: flex;
    align-items: stretch;
}

table.form_table,
table.detail_view_table {
    border-spacing: 0;
}

table.form_table td,
table.detail_view_table td {
    padding: 5px;
}

table.form_table th,
table.detail_view_table th {
    padding-right: 35px;
    text-align: left !important;
}

table.list_view_table {
    max-width: 90%;
    border-spacing: 0;
    margin-bottom: 15px;
}

table.list_view_table thead {
    background: black;
    color: white;
}

table.list_view_table tbody tr {
    cursor: pointer;
}

table.list_view_table tr>td {
    padding: 5px;
}

table.list_view_table tbody tr:nth-child(2n+1) {
    background-color: #b9bab9;
}

table.list_view_table tbody tr:nth-child(2n) {
    background-color: rgba(185,186,185,0.5);
}

table.list_view_table>tbody>tr:hover {
    background-color: #f08500;
}

a.table_link {
    color: #1d1d1d !important;
}

a.table_link:hover {
    color: #636363 !important;
}


.svg_icon {
    margin: 0 20px;
}

div.svg_icon svg {
    fill: #f08500;
}

div.svg_icon:hover svg {
    fill: #1d1d1d;
    cursor: pointer;
}

div.cargo_form {
    min-width: calc(100% - 28px);
    display: inline-flex;
    margin: 4px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    background-color: #d7d7d7;
}

div.cargo_form select {
    border: 2px solid black;
    height: 31px;
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    margin-right: 5px;
}

div.cargo_row {
    margin-bottom: 20px;
}

div.cargo_form input[type=number],
div.cargo_form input[type=text] {
    border: 2px solid black;
    height: 25px;
    font-size: 16px;
}

div.cargo_form input[type=number] {
    width: 80px !important;
}

.cargo_title {
    width: 200px;
}

.cargo_mark {
    width: 100px;
}

.cargo_package_type {
    width: 195px;
}

.cargo_weight, .transit_currency, .cargo_currency {
    width: 70px;
}

.transit_status, .transit_currency {
    height: 31px;
    }

.transit_status {
    width: 200px;
}

.cargo_single_field {

}

.currency_select {
    margin-left: 4px;
    width: 70px !important;
}

div.cargo_form p {
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
}

div.cargo_form>div {

}

div.cargo_form .cargo_rows_block {
}

.cargo_row {
    display: flex;
}

.cargo_row>div {
    margin-right: 15px;
}

.cargo_input_bundle {
    max-width: 200px;
    margin-top: 3px;
    margin-right: 25px;
}

.cargo_input_bundle p {

}

.cargo_input_bundle div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5px;
}

.cargo_input_bundle input {
    min-width: 25%;
    max-width: 65%;
    margin: 2px;
}

.cargo_input_bundle select {
    min-width: calc(25% + 4px)
    max-width: calc(30% + 4px)
}

.cargo_form p {

}

div.cargo_hidden_field {
    display: none;
}

.btn_delete_cargo {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    transform: rotate(90deg);
}

.hover_for_btns {
    cursor: pointer;
    color: #1d1d1d;
}

.add_btns_to_center {
    padding: 20px;
    display: block;
    text-align: center;
}

}

.horizontal_tables_list {
        display: flex;
        align-items: flex-start;
    }

.horizontal_tables_list td,
.horizontal_tables_list td, {
        padding: 0 !important;
        padding-bottom: 10px !important;
    }

.horizontal_tables_list>table {
        margin-right: 15px;
    }

table.inline_table {
        min-width: 300px;
    }

table.inline_table>thead th {
        padding-bottom: 10px;
    }

table.expandable_list_view_table {
        border-spacing: 0;
        margin-bottom: 15px;
        border-collapse: collapse;
        border: 1px solid black;
    }

table.expandable_list_view_table thead {
        background: black;
        color: white;
    }

table.expandable_list_view_table tbody tr.short {
        cursor: pointer;
        border-top: 1px solid black;
    }

table.expandable_list_view_table tbody tr.detailed {
        display: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin-bottom: 25px;
    }

tr.short_inactive {
        cursor: default !important;
    }

table.list_view_table tr>td,
table.expandable_list_view_table tr>td {
        padding: 5px 10px;
        text-align: center !important;
    }

table.expandable_list_view_table tr>td * {
        text-align: left;
    }

table.expandable_list_view_table tbody tr.short:nth-child(4n+1),
table.expandable_list_view_table tbody tr.short_inactive:nth-child(2n+1) {
        background-color: #b9bab9;
    }

table.expandable_list_view_table tbody tr.short:nth-child(4n+3),
table.expandable_list_view_table tbody tr.short_inactive:nth-child(2n) {
        background-color: rgba(185,186,185,0.5);
    }

table.expandable_list_view_table>tbody>tr.short:hover {
        background-color: #f08500;
    }

.horizontal_tables_list {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

.horizontal_tables_list td,
.horizontal_tables_list td, {
        padding: 0 !important;
        padding-bottom: 10px !important;
    }

.horizontal_tables_list>table {
        margin-right: 15px;
    }

form .helptext {
    display: none;
}

#footer {
    flex-shrink: 0;
    background: #b9bab9;
    border-left: 50px solid black;
    border-right: 50px solid #f08500;
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
}

#footer a {
    color: black;
}

.copyright {
    align-self: flex-end;
    font-size: 0.8em;
    text-align: center;
}