{% extends 'audit/main_menu.html' %}
{% block 'inner_content' %}
<h1>Общая информация о системе</h1>
<div class="horizontal_tables_list">
    <table class="detail_view_table">
        <thead>
            <tr>
                <th colspan="2"><h4>Поручения</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>В работе:</th>
                <td>{{ active_orders }}</td>
            </tr>
            <tr>
                <th>Просрочено:</th>
                <td>{{ late_orders }}</td>
            </tr>
            <tr>
                <th>Всего:</th>
                <td>{{ all_orders }}</td>
            </tr>
        </tbody>
    </table>
    <table class="detail_view_table">
        <thead>
            <tr>
                <th colspan="2"><h4>Пользователи компании</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Активно:</th>
                <td>{{ active_users }}</td>
            </tr>
            <tr>
                <th>Всего:</th>
                <td>{{ all_users }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}