{% extends 'audit/main_menu.html' %}
{% block 'inner_content' %}
{% load menu_tags %}
<div class="profile_view">
    <div>
        <h2>Профиль пользователя {{ object.username }}</h2>
        {% if perms.app_auth.change_user %}
        <a href="{% url 'user_edit_aud' pk=user.id %}?next={{ request.path }}">Редактировать</a>
        {% endif %}{% if perms.app_auth.delete_user %}
        <a href="{% url 'user_delete_aud' pk=user.id %}?next={{ request.path }}">Удалить</a>
        {% endif %}
    </div>
    <br>
    <table class="detail_view_table">
        <tbody>
            <tr>
                <th>Имя пользователя</th>
                <td>{{ object.username }}</td>
            </tr>
            <tr>
                <th>Эл. почта</th>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <th>ФИО пользователя</th>
                <td>{{ object }}</td>
            </tr>
            <tr>
                <th>Тип пользователя</th>
                <td>{% user_type 'object' %}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}