<div class="ext_order_form">
    <div class="status_hidden_field">
        {{ hidden_fields.id }}
        {{ fields.DELETE.as_hidden }}
        {{ fields.ordering_num.as_hidden }}
    </div>
    <div>
        {{ hidden_fields.id.errors }}
        {{ fields.DELETE.errors }}
        {{ fields.ordering_num.errors }}
    </div>
    <div class="horizontal_tables_list flex_start">
        <table class="form_table">
            <tr>
                <td colspan="2">
                    <div class="btn_delete_status">
                        <span class="link_styled_span" label="ext_order">Удалить поручение</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ fields.date.label_tag }}</th>
                <td>{{ fields.date }} {{ fields.date.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.contractor.label_tag }}</th>
                <td>{{ fields.contractor }} {{ fields.contractor.errors }}</td>
            </tr>
            <tr>
                <th>{{ form.contract.label_tag }}</th>
                <td>{{ form.contract.errors }}<span class="contract_display" id="id_{{ form.prefix }}-contract_display">{% if form.is_bound and form.cleaned_data.contract %}{{ form.cleaned_data.contract }}{% elif form.instance.contract %}{{ form.instance.contract }}{% elif form.initial.contract %}{{ form.initial.contract }}{% endif %}</span> <span class="link_styled_span contract_select" id="id_contract_select" owner_type="contractor" form_prefix="{{ form.prefix }}">{% if form.is_bound and form.cleaned_data.contract %}Изменить{% elif form.instance.contract or form.initial.contract %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td colspan="2" style="display: none">{{ form.contract.as_hidden }}</td>
            <tr>
            <tr>
                <th>{{ fields.manager.label_tag }}</th>
                <td>{{ fields.manager }} {{ fields.manager.errors }}</td>
            </tr>
        </table>
        <table class="form_table">
            <tr><th>&nbsp;</th><td>&nbsp;</td></tr>
            <tr>
                <th>{{ fields.approx_price.label_tag }}</th>
                <td>{{ fields.approx_price }} {{ fields.approx_price.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.price_carrier.label_tag }}</th>
                <td>{{ fields.price_carrier }} {{ fields.price_carrier.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.taxes.label_tag }}</th>
                <td>{{ fields.taxes }} {{ fields.taxes.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.currency.label_tag }}</th>
                <td>{{ fields.currency }} {{ fields.currency.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.currency_check.label_tag }}</th>
                <td>{{ fields.currency_check }} {{ fields.currency_check.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.status.label_tag }}</th>
                <td>{{ fields.status }} {{ fields.status.errors }}</td>
            </tr>

        </table>
        <table class="form_table">
            <tr>
                <th>{{ fields.other.label_tag }}</th>
                <td>{{ fields.other }} {{ fields.other.errors }}</td>
            </tr>
        </table>
    </div>
    <div class="horizontal_tables_list flex_start">
        <table class="form_table departure_data">
            <tr></tr>
            <tr>
                <th>{{ fields.sender.label_tag }}</th>
                <td>{{ fields.sender.errors }}<span class="cp_display" id="{{ form.prefix }}-sender_display">{% if form.is_bound and form.cleaned_data.sender %}{{ form.cleaned_data.sender }}{% elif form.instance.sender %}{{ form.instance.sender }}{% elif form.initial.sender %}{{ form.initial.sender }}{% endif %}</span> <span class="link_styled_span cp_select" id="id_{{ form.prefix }}_sender_select" transit_prefix="{{ form.prefix }}" cp_type="sender" owner_type="admin" client_id="admin">{% if form.is_bound and form.cleaned_data.sender %}Изменить{% elif form.instance.sender or form.initial.sender %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td>
                    <div style="display: none;">
                        <input type="text" name="{{ form.prefix }}-sender" id="id_{{ form.prefix }}-sender"{% if form.is_bound and form.cleaned_data.sender %} value="{{ form.cleaned_data.sender.pk }}"{% elif form.instance.sender %} value="{{ form.instance.sender.pk }}"{% elif form.initial.sender %} value="{{ form.initial.sender.pk }}"{% endif %}>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ fields.from_contacts.label }}:</th>
                <td>{{ fields.from_contacts.errors }}<span class="link_styled_span contacts_select" id="id_{{ form.prefix }}_from_contacts_select" transit_prefix="{{ form.prefix }}" contacts_type="from_contacts">{% if form.is_bound and form.cleaned_data.from_contacts.exists %}Изменить{% elif form.instance.from_contacts.exists or form.initial.from_contacts.exists %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul id="{{ form.prefix }}-from_contacts_display" class="contacts_display">
                        {% if form.is_bound and form.cleaned_data.from_contacts.exists %}
                            {% for contact in form.cleaned_data.from_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.initial.from_contacts.exists %}
                            {% for contact in form.initial.from_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.instance.id %}
                            {% for contact in form.instance.from_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <div style="display: none">
                        <select name="{{ form.prefix }}-from_contacts" class="transit_from_contacts required" id="id_{{ form.prefix }}-from_contacts" multiple>
                            {% if form.is_bound %}
                                {% for contact in form.cleaned_data.from_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.initial.from_contacts.exists %}
                                {% for contact in form.initial.from_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.instance.id %}
                                {% for contact in form.instance.from_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="2">{{ fields.from_addr.label_tag }}</th>
            </tr>
            <tr>
                <td colspan="2">{{ fields.from_addr }} {{ fields.from_addr.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.take_from.label_tag }}</th>
                <td>{{ fields.take_from.errors }} {{ fields.take_from }}</td>
            </tr>
            <tr>
                <th>{{ fields.from_date_wanted.label_tag }}</th>
                <td>{{ fields.from_date_wanted }} {{ fields.from_date_wanted.errors }}</td>
            </tr>
        </table>
        <table class="form_table receive_data">
            <tr>
                <th>{{ fields.receiver.label_tag }}</th>
                <td>{{ fields.receiver.errors }}<span class="cp_display" id="{{ form.prefix }}-receiver_display">{% if form.is_bound and form.cleaned_data.receiver %}{{ form.cleaned_data.receiver }}{% elif form.instance.receiver %}{{ form.instance.receiver }}{% elif form.initial.receiver %}{{ form.initial.receiver }}{% endif %}</span> <span class="link_styled_span cp_select" id="id_{{ form.prefix }}_receiver_select" transit_prefix="{{ form.prefix }}" cp_type="receiver" owner_type="admin" client_id="admin">{% if form.is_bound and form.cleaned_data.receiver %}Изменить{% elif form.instance.receiver or form.initial.receiver %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td>
                    <div style="display: none;">
                        <input type="text" name="{{ form.prefix }}-receiver" id="id_{{ form.prefix }}-receiver"{% if form.is_bound and form.cleaned_data.receiver %} value="{{ form.cleaned_data.receiver.pk }}"{% elif form.instance.receiver %} value="{{ form.instance.receiver.pk }}"{% elif form.initial.receiver %} value="{{ form.initial.receiver.pk }}"{% endif %}>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ fields.to_contacts.label }}:</th>
                <td>{{ fields.to_contacts.errors }}<span class="link_styled_span contacts_select" id="id_{{ form.prefix }}_to_contacts_select" transit_prefix="{{ form.prefix }}" contacts_type="to_contacts">{% if form.is_bound and form.cleaned_data.to_contacts.exists %}Изменить{% elif form.instance.to_contacts.exists or form.initial.to_contacts.exists %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul id="{{ form.prefix }}-to_contacts_display" class="contacts_display">
                        {% if form.is_bound and form.cleaned_data.to_contacts.exists %}
                            {% for contact in form.cleaned_data.to_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.initial.to_contacts.exists %}
                            {% for contact in form.initial.to_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.instance.id %}
                            {% for contact in form.instance.to_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <div style="display: none">
                        <select name="{{ form.prefix }}-to_contacts" class="transit_to_contacts required" id="id_{{ form.prefix }}-to_contacts" multiple>
                            {% if form.is_bound and form.cleaned_data.to_contacts.exists %}
                                {% for contact in form.cleaned_data.to_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.initial.to_contacts.exists %}
                                {% for contact in form.initial.to_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.instance.id %}
                                {% for contact in form.instance.to_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="2">{{ fields.to_addr.label_tag }}</th>
            </tr>
            <tr>
                <td colspan="2">{{ fields.to_addr }} {{ fields.to_addr.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.give_to.label_tag }}</th>
                <td>{{ fields.give_to.errors }} {{ fields.give_to }}</td>
            </tr>
            <tr>
                <th>{{ fields.to_date_wanted.label_tag }}</th>
                <td>{{ fields.to_date_wanted }} {{ fields.to_date_wanted.errors }}</td>
            </tr>
        </table>
        <table class="form_table">
            <tr>
                <th>{{ fields.act_num.label_tag }}</th>
                <td>{{ fields.act_num }} {{ fields.act_num.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.act_date.label_tag }}</th>
                <td>{{ fields.act_date }} {{ fields.act_date.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.bill_num.label_tag }}</th>
                <td>{{ fields.bill_num }} {{ fields.bill_num.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.bill_date.label_tag }}</th>
                <td>{{ fields.bill_date }} {{ fields.bill_date.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.necessary_docs.label_tag }}</th>
                <td>{{ fields.necessary_docs }} {{ fields.necessary_docs.errors }}</td>
            </tr>
            <tr>
                <th>{{ fields.insurance_detail.label_tag }}</th>
                <td>{{ fields.insurance_detail }} {{ fields.insurance_detail.errors }}</td>
            </tr>
        </table>
    </div>
    <div>
        {{ form.nested.management_form }}
        {{ form.nested.non_form_errors }}
        <div class="segment_forms" id="{{ form.nested.prefix }}-segment_forms">
            {% for segment in form.nested.forms %}
            {{ segment.as_my_style }}
            {% endfor %}
        </div>
    </div>
    <div class="add_btns_to_center"><span prefix="{{ form.nested.prefix }}" class="btn_add_segment link_styled_span">Добавить плечо</span></div>
</div>
