<div class="transit_form">
    {{ hidden_fields.id }}
    <h3>{% if not hidden_fields.id.value %}Новая перевозка{% else %}{{ form.instance }}{% endif %}</h3>
    <span class="btn_delete_transit link_styled_span">Удалить перевозку</span>
    <span class="copy_transit link_styled_span">Скопировать перевозку</span>
    <br>
    <div class="delete_transit cargo_hidden_field">
        {{ fields.DELETE.label_tag }} {{ fields.DELETE }}
    </div>
    <br>
    <table class="form_table">
        <tr>
            <th>{{ fields.price.label_tag }}</th>
            <td>{{ fields.status.errors }} {{ fields.price }} {{ fields.price_currency }}</td>
        </tr>
        <tr>
            <th>{{ fields.bill_number.label_tag }}</th>
            <td>{{ fields.bill_number.errors }} {{ fields.bill_number }}</td>
        </tr>
    </table>
    <br>
    <div class="horizontal_tables_list">
        <table class="form_table">
            <tr>
                <th>{{ fields.sender.label_tag }}</th>
                <td>{{ fields.sender.errors }}<span id="{{ form.prefix }}-sender_display">{% if form.is_bound and form.cleaned_data.sender %}{{ form.cleaned_data.sender }}{% elif form.instance.sender %}{{ form.instance.sender }}{% endif %}</span> <span class="link_styled_span cp_select" id="id_{{ form.prefix }}_sender_select" transit_prefix="{{ form.prefix }}" cp_type="sender" owner_type="clients">{% if form.is_bound and form.cleaned_data.sender %}Изменить{% elif form.instance.sender %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td>
                    <div style="display: none;">
                        <input type="text" name="{{ form.prefix }}-sender" id="id_{{ form.prefix }}-sender"{% if form.is_bound and form.cleaned_data.sender %} value="{{ form.cleaned_data.sender.pk }}"{% elif form.instance.sender %} value="{{ form.instance.sender.pk }}"{% endif %}>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ fields.from_contacts.label_tag }}</th>
                <td>{{ fields.from_contacts.errors }}<span class="link_styled_span contacts_select" id="id_{{ form.prefix }}_from_contacts_select" transit_prefix="{{ form.prefix }}" contacts_type="from_contacts">{% if form.is_bound and form.cleaned_data.from_contacts.exists %}Изменить{% elif form.initial.from_contacts.exists or form.instance.from_contacts.exists %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul id="{{ form.prefix }}-from_contacts_display" class="contacts_display">
                        {% if form.is_bound and form.cleaned_data.from_contacts.exists %}
                            {% for contact in form.cleaned_data.from_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.initial.from_contacts.exists %}
                            {% for contact in form.initial.from_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.instance.id %}
                            {% for contact in form.instance.from_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <div style="display: none">
                        <select name="{{ form.prefix }}-from_contacts" class="transit_from_contacts required" id="id_{{ form.prefix }}-from_contacts" multiple>
                            {% if form.is_bound %}
                                {% for contact in form.cleaned_data.from_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.initial.from_contacts.exists %}
                                {% for contact in form.initial.from_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.instance.id %}
                                {% for contact in form.instance.from_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ fields.from_addr_short.label_tag }}</th>
                <td>{{ fields.from_addr_short.errors }}{{ fields.from_addr_short }}</td>
            </tr>
            <tr>
                <th>{{ fields.from_addr.label_tag }}</th>
                <td>{{ fields.from_addr.errors }}{{ fields.from_addr }}</td>
            </tr>
            <tr>
                <th>{{ fields.from_addr_eng.label_tag }}</th>
                <td>{{ fields.from_addr_eng.errors }}{{ fields.from_addr_eng }}</td>
            </tr>
            <tr>
                <th>{{ fields.take_from.label_tag }}</th>
                <td>{{ fields.take_from.errors }} {{ fields.take_from }}</td>
            </tr>
            <tr>
                <th>{{ fields.from_date_wanted.label_tag }}</th>
                <td>{{ fields.from_date_wanted.errors }}{{ fields.from_date_wanted }}</td>
            </tr>
        </table>
        <div class="svg_icon swap_forms">
            <svg class="hover_for_btns" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px" width="56px" height="56px" viewBox="0 0 560.209 560.209">
                <g>
                    <polygon points="141.449,241.854 390.074,241.854 390.074,174.917 141.449,174.917 141.449,124.351 0,206.014 141.449,287.678"/>
                    <polygon points="170.136,385.292 418.762,385.292 418.762,435.858 560.209,354.194 418.762,272.531 418.762,318.354 170.136,318.354"/>
                </g>
            </svg>
        </div>
        <table class="form_table">
            <tr>
                <th>{{ fields.receiver.label_tag }}</th>
                <td>{{ fields.receiver.errors }}<span id="{{ form.prefix }}-receiver_display">{% if form.is_bound and form.cleaned_data.receiver %}{{ form.cleaned_data.receiver }}{% elif form.instance.receiver %}{{ form.instance.receiver }}{% endif %}</span> <span class="link_styled_span cp_select" id="id_{{ form.prefix }}_receiver_select" transit_prefix="{{ form.prefix }}" cp_type="receiver" owner_type="clients">{% if form.is_bound and form.cleaned_data.receiver %}Изменить{% elif form.instance.receiver %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td>
                    <div style="display: none;">
                        <input type="text" name="{{ form.prefix }}-receiver" id="id_{{ form.prefix }}-receiver"{% if form.is_bound and form.cleaned_data.receiver %} value="{{ form.cleaned_data.receiver.pk }}"{% elif form.instance.receiver %} value="{{ form.instance.receiver.pk }}"{% endif %}>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ fields.to_contacts.label_tag }}</th>
                <td>{{ fields.to_contacts.errors }}<span class="link_styled_span contacts_select" id="id_{{ form.prefix }}_to_contacts_select" transit_prefix="{{ form.prefix }}" contacts_type="to_contacts">{% if form.is_bound and form.cleaned_data.to_contacts.exists %}Изменить{% elif form.initial.to_contacts.exists or form.instance.to_contacts.exists %}Изменить{% else %}Выбрать{% endif %}</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul id="{{ form.prefix }}-to_contacts_display" class="contacts_display">
                        {% if form.is_bound and form.cleaned_data.to_contacts.exists %}
                            {% for contact in form.cleaned_data.to_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.initial.to_contacts.exists %}
                            {% for contact in form.initial.to_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% elif form.instance.id %}
                            {% for contact in form.instance.to_contacts.all %}
                            <li>{{ contact }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <div style="display: none">
                        <select name="{{ form.prefix }}-to_contacts" class="transit_to_contacts required" id="id_{{ form.prefix }}-to_contacts" multiple>
                            {% if form.is_bound and form.cleaned_data.to_contacts.exists %}
                                {% for contact in form.cleaned_data.to_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.initial.to_contacts.exists %}
                                {% for contact in form.initial.to_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% elif form.instance.id %}
                                {% for contact in form.instance.to_contacts.all %}
                                <option value="{{ contact.pk }}" selected="selected">{{ contact }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{{ fields.to_addr_short.label_tag }}</th>
                <td>{{ fields.to_addr_short.errors }}{{ fields.to_addr_short }}</td>
            </tr>
            <tr>
                <th>{{ fields.to_addr.label_tag }}</th>
                <td>{{ fields.to_addr.errors }}{{ fields.to_addr }}</td>
            </tr>
            <tr>
                <th>{{ fields.to_addr_eng.label_tag }}</th>
                <td>{{ fields.to_addr_eng.errors }}{{ fields.to_addr_eng }}</td>
            </tr>
            <tr>
                <th>{{ fields.give_to.label_tag }}</th>
                <td>{{ fields.give_to.errors }} {{ fields.give_to }}</td>
            </tr>
            <tr>
                <th>{{ fields.to_date_wanted.label_tag }}</th>
                <td>{{ fields.to_date_wanted.errors }}{{ fields.to_date_wanted }}</td>
            </tr>
        </table>
        <table class="form_table">
            <tr>
                <th>{{ fields.extra_services.label_tag }}</th>
            </tr>
            <tr>
                <td>
                    <div class="checkbox_list">{{ fields.extra_services }} {{ fields.extra_services.errors }}</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="cargo_table">
        <div style="display: flex; align-items: center">
            <h4 style="margin-right: 25px">Грузы</h4>
            <b>{{ fields.value.label_tag }} {{ fields.value }} {{ fields.value.errors }} {{ fields.currency }} {{ fields.currency.errors }}</b>
        </div>
<!--        <table>-->
<!--            <tr>-->
<!--                <th>{{ fields.sum_insured.label_tag }}</th>-->
<!--                <td>{{ fields.sum_insured }} {{ fields.sum_insured.errors }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>{{ fields.insurance_premium.label_tag }}</th>-->
<!--                <td>{{ fields.insurance_premium }} {{ fields.insurance_premium.errors }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>{{ fields.volume.label_tag }}</th>-->
<!--                <td>{{ fields.volume }} {{ fields.volume.errors }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>{{ fields.weight.label_tag }}</th>-->
<!--                <td>{{ fields.weight }} {{ fields.weight.errors }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>{{ fields.quantity.label_tag }}</th>-->
<!--                <td>{{ fields.quantity }} {{ fields.quantity.errors }}</td>-->
<!--            </tr>-->
<!--        </table>-->
        {{ form.nested.management_form }}
        {{ form.nested.non_form_errors }}
        <span class="link_styled_span cargos_spreadsheet" tprefix="{{ form.prefix }}">Скопировать из Excel</span>
        {% for cargo in form.nested.forms %}
        {{ cargo.as_my_style }}
        {% endfor %}
    </div>
    <div class="add_btns_to_center"><span class="btn_add_cargo link_styled_span">Добавить груз</span></div>
</div>