{% extends 'app_auth/mail/base.html' %}
{% block mail_header %}Восстановление пароля{% endblock %}
{% block mail_content %}
<table width="100%">
    <tbody>
        <tr>
            <td>
                <b>{{ user.first_name }}{% if user.second_name %} {{ user.second_name }}{% endif %}</b>,<br>
                Мы получили запрос на восстановление пароля от учетной записи<br>
                на портале <b>{{ requisites.SHORT_NAME }}</b>.<br>
                Для восстановления пароля перейдите по ссылке:
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <a href="{{ uri }}" style="color:{{ email_color }}">Восстановить пароль</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}