{% extends 'app_auth/mail/base.html' %}
{% block mail_header %}Поручение №{{ extorder.number }} - Вас назначили в качестве перевозчика.{% endblock %}
{% block mail_content %}
<table width="100%">
    <tbody>
        <tr>
            <td width="100%">
                <p align="center"><b>{{ extorder.contractor }}</b>,<br>
                Вас назначили в качестве перевозчика:</p>
                <table align="center" style="width: 70%;margin: 0 auto;background: white;border: 1px solid {{ email_color }};border-collapse:collapse;table-layout: fixed;">
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Номер поручения:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.number }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Дата поручения:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.date|date:"d.m.Y" }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Договор:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{% if extorder.contract %}{{ extorder.contract }}{% else %}Не указан{% endif %}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Наименование груза:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.order.cargo_name }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Кол-во мест:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.order.quantity }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Вес брутто:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.order.weight|floatformat:-2 }} кг</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Адрес отправки:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.from_addr }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Контакты в пункте отправки:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">
                            {% for contact in extorder.from_contacts.all %}
                            {{ contact }},<br>
                            Тел. {{ contact.phone }}{% if contact.email %},<br>
                            Email {{ contact.email }}{% endif %}
                            {% if not forloop.last %}<br><br>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Адрес доставки:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.to_addr }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Контакты в пункте доставки:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">
                            {% for contact in extorder.to_contacts.all %}
                            {{ contact }},<br>
                            Тел. {{ contact.phone }}{% if contact.email %},<br>
                            Email {{ contact.email }}{% endif %}
                            {% if not forloop.last %}<br><br>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% if extorder.from_date_plan %}
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Плановая дата забора груза:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.from_date_plan }}</td>
                    </tr>
                    {% endif %}
                    {% if extorder.to_date_plan %}
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Плановая дата доставки груза:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.to_date_plan }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th style="text-align: left;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">Менеджер РТЛ-ТО:</th>
                        <td style="text-align: right;border: 1px solid {{ email_color }};padding: 5px" cellpadding="5px">{{ extorder.manager.last_name }} {{ extorder.manager.first_name }}{% if extorder.manager.second_name %} {{ extorder.manager.second_name }}{% endif %}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">Чтобы увидеть подробности, перейдите по ссылке:</td>
        </tr>
        <tr>
            <td style="text-align: center">
                <a href="{{ uri }}" style="color: {{ email_color }}">Смотреть на портале</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}