{% extends 'app_auth/mail/base.html' %}
{% block mail_header %}{{ transit.number }}: груз доставлен{% endblock %}
{% block mail_content %}
<table width="100%">
    <tbody>
        <tr>
            <td width="100%">
                <table align="center" style="width: 70%;margin: 0 auto;background: white;border: 1px solid #f08500;border-collapse:collapse;table-layout: fixed;">
                    <tr>
                        <th style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">Номер маршрута</th>
                        <td style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">{{ transit.number }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">Адрес доставки груза</th>
                        <td style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">{{ transit.to_addr }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">Желаемая дата доставки</th>
                        <td style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">{% if transit.to_date_wanted %}{{ transit.to_date_wanted|date:"d.m.Y" }}{% else %}Не указана{% endif %}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">Плановая дата доставки</th>
                        <td style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">{{ transit.to_date_plan|date:"d.m.Y" }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">Фактическая дата доставки</th>
                        <td style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">{{ transit.to_date_fact|date:"d.m.Y" }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">Заявленное количество мест</th>
                        <td style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">{{ transit.quantity }} шт</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">Заявленный вес</th>
                        <td style="text-align: left;border: 1px solid #f08500;padding: 5px" cellpadding="5px">{{ transit.weight|floatformat:-2 }} кг</td>
                    </tr>
                </table>
            </td>
        </tr>
        {% if uri %}
        <tr>
            <td style="text-align: center">Чтобы увидеть подробности, перейдите по ссылке:</td>
        </tr>
        <tr>
            <td style="text-align: center">
                <a href="{{ uri }}" style="color:#f08500">Смотреть на портале</a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}