{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
<div>
    <h2>Выгрузка детализации</h2>
</div>
<div class="horizontal_reports_forms field_type">
    <table>
        <tr>
            <td>
                <form method="post" id="bill_form">
                    {% csrf_token %}
                    <table class="form_table">
                        {{ filter_form.as_table }}
                    </table>
                    <button type="submit">Вывести отчет</button>
                </form>
            </td>
            <td style="vertical-align: top">
                <form method="post" id="search_form">
                    {% csrf_token %}
                    <table class="form_table">
                        <tr>
                            <td style="padding-top: 9px">{{ search_form.search }}</td>
                            <td><button type="submit" style="margin: 0">Поиск</button></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</div>
<div class="field_type" id="table_output_wrapper" style="display: none">
    <div id="table_output"></div>
    <button type="submit" id="issue_bills">Создать детализации</button>
</div>
<script>
    const container = document.getElementById('table_output')
    let dataUrl = "{% url 'bill_internal_data' %}".replace('internal', '__type__')
    let billUrl = "{% url 'post_for_bills_internal' %}".replace('internal', '__type__')
    let hot = new Handsontable(container, {
        startRows: 0,
        licenseKey: 'non-commercial-and-evaluation',
        height: 0,
    });

    function getData(formData) {
        $(container).html(null)

        $.post(dataUrl.replace('__type__', $('#id_type').val()), formData, function(data){
            const parsedData = JSON.parse(data)
            const headers = parsedData.headers
            const transitsData = parsedData.data
            if (transitsData.length > 0) {
                $('#table_output_wrapper').removeAttr('style')
            }
            hot = Handsontable(container, {
                data: transitsData,
                rowHeaders: false,
                colHeaders: headers,
                columnSorting: true,
                sortIndicator: true,
                height: 'auto',
                width: 'auto',
                licenseKey: 'non-commercial-and-evaluation',
                hiddenColumns: {
                    columns: [0],
                }
            })
        })
    }

    $('#bill_form').on('submit', function(e){
        e.preventDefault()
        getData($(this).serialize())
    })

    $('#search_form').on('submit', function(e){
        e.preventDefault()
        getData($(this).serialize())
    })

    $('#issue_bills').on('click', function(e){
        e.preventDefault()
        let post_data = {
            data: JSON.stringify(hot.getSourceData()),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            client: $('#id_client').val(),
            delivered_from: $('#id_delivered_from').val(),
            delivered_to: $('#id_delivered_to').val()
        }
        $.post(billUrl.replace('__type__', $('#id_type').val()), post_data, function(data){
            window.open(data.uri, "_blank");
        }, 'json').fail(function(data, status, some_shit){
            console.log(status)
            console.log(some_shit)
        })
    })
</script>
{% endblock %}