{% block 'inner_content' %}
<div>
    <h2>Вы уверены, что хотите удалить {{ object }}?</h2>
</div>
<form id="modal_form" method="post" action="{{ request.path }}">
    {% csrf_token %}
    <table class="form_table">
        {{ form.as_table }}
    </table>
    <button type="submit">Да</button>
    <a href="{% url 'order_detail' pk=object.pk %}">Отмена</a>
</form>

<script>
    $('button[type=submit]').click(function(e){
        e.preventDefault()
        $(this).attr('disabled', 'disabled')
        $(this).css('cssText', 'background-color: gray !important; color: white !important; cursor: auto !important')
        $.ajax({
            url: '{{ request.path }}',
            type: 'POST',
            data: $('#modal_form').serialize(),
            success: function(data){
                document.location.reload(true);
            }
        });
    })
</script>

{% endblock %}