{% extends 'management/main_menu.html' %}
{% block 'inner_content' %}
{% load menu_tags %}
{% load i18n updateurl utils static %}
{% trans "Поиск" as default %}
<div id="list_view_filter">
    <div>
        <form class="form-search input-append" onsubmit="search_submit(); return false;">
            <span class="add-on"><i class="icon-search"></i></span>
            <input id="query" class="search" value="{{ form.query.value|default:'' }}" type="search" placeholder="{% firstof placeholder default %}" />
            <button type="submit" class="btn">{% trans "Search" %}</button>
        </form>

        <form method="GET" id="search_form">
            {# Hidden fields #}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}

            {# Visible fields #}
            <table>
                {% for field in form.visible_fields %}
                <tr>
                    {% if field|is_checkbox %}
                    <td colspan="2"><label class="aligned_label" for="{{ field.auto_id }}">{{ field }}{{ field.label }}</label></td>
                    {% elif field.name in stacked_fields %}
                    <td colspan="2">{{ field }}</td>
                    {% else %}
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <div>
        <div class="filter_cats">
            {# FilterList #}
            {% for filter in filters %}
            <div>
                <h3>{{ filter.label }}</h3>
                <select class="order_filter">
                    {% for choice in filter.choices %}
                    <option id="{{ filter.name }}_{{ choice.value|default:'all' }}_id" value="{% update_query_string with filter.name=choice.value 'page'=1 %}" {% if choice.is_selected %}selected{% endif %}>
                        {# If safe_label not define or safe_label is True #}
                        {% if safe_label|default_if_none:True %}
                            {{ choice.label|safe }}
                        {% else %}
                            {{ choice.label }}
                        {% endif %}
                    </option>
                  {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
        <div class="add_btns_to_center">
            <a href="{{ request.path }}">Сбросить фильтры</a>
        </div>
    </div>
</div>
<div class="add_btns_to_center"><span class="link_styled_span" onclick="showModal('{% url 'order_add' %}')">Добавить поручение</span></div>
<table class="list_view_table modal">
    <thead>
        <tr>
            {% load updateurl %}
            {% for order_field in form.fields.order_by.choices %}
            <td>
                {% if form.cleaned_data.order_by == order_field.0 %}
                    {% with form.order_reverse.value as order_reverse %}
                    {% with order_reverse|add:"0"|yesno:"0,1" as order_reverse_opposite %}
                    <a href="{% update_query_string with 'order_by'=order_field.0 'order_reverse'=order_reverse_opposite 'page'=1 %}"
                        class="{% if form.cleaned_data.order_by == order_field.0 %} active{% else %}0{% endif %}">
                        {% if order_reverse == '1' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                            </svg>
                        {% endif %} {{ order_field.1|capfirst }}
                    </a>
                    {% endwith %}
                    {% endwith %}
                  {% else %}
                  <a href="{% update_query_string with 'order_by'=order_field.0 'order_reverse'=0 'page'=1 %}">
                    <i style="width: 14px; display: inline-block;">&nbsp;</i> {{ order_field.1|capfirst }}
                  </a>
                  {% endif %}
            </td>
            {% endfor %}
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for order in page_obj %}
        <tr href="{% url 'order_detail' pk=order.id %}">
            <td>{% if order.client_number %}{{ order.client_number }}{% else %}-{% endif %}</td>
            <td>{% if order.inner_number %}{{ order.inner_number }}{% else %}-{% endif %}</td>
            <td>{{ order.order_date|date:"d.m.Y" }}</td>
            <td>{% if order.manager %}{{ order.manager }}{% else %}-{% endif %}</td>
            <td>{{ order.from_addr_forlist|safe }}</td>
            <td>{{ order.to_addr_forlist|safe }}</td>
            <td>{{ order.get_status_display }}</td>
            <td style="white-space: nowrap">
                {% if order.manager == request.user %}
                <a class="table_link" href="{% url 'order_edit' pk=order.id %}">Редактировать</a>
                <a class="table_link" href="{% url 'order_delete' pk=order.id %}">Удалить</a>
                {% else %}
                <a class="table_link refresh" href="{% url 'manager_get' pk=order.pk %}?next={{ request.path }}">Взять в работу</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    Страница:
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% update_query_string with 'page'=1 %}">&laquo; 1</a>
        {% endif %}
        {% if page_obj.previous_page_number != 1 %}
            <span style="margin-right: 10px">...</span>
            <a href="{% update_query_string with 'page'=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <span class="current" style="margin-right: 10px">
            {{ page_obj.number }}
        </span>

        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="{% update_query_string with 'page'=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            <span style="margin-right: 10px">...</span>
        {% endif %}

        {% if page_obj.has_next  %}
            <a href="{% update_query_string with 'page'=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }} &raquo;</a>
        {% endif %}

    </span>
</div>
{% endif %}

<div id="modalWindow">
    <div id="modalWrapper">
        <div id="modalQuickView"></div>
        <div id="modalCloseButton" onclick="closeModal()">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="35px" height="35px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                xml:space="preserve">
                <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256
                0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256"/>
            </svg>
        </div>
    </div>
</div>

<div id="subModalWindow">
    <div id="subModalWrapper">
        <div id="subModalQuickView"></div>
        <div id="subModalCloseButton" onclick="closeSubModal()">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="35px" height="35px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                xml:space="preserve">
                <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256
                0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256"/>
            </svg>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#search_form select:not("[data-auto-submit=\'no\']")').change(search_submit);
    });

    function search_submit() {
        $("#search_form #id_query").val($("#query").val());
        $("#search_form").submit();
    }
    $('input[type=date]').change(function(){
        $(this).parents().find('form').submit()
    })
</script>
{% endblock %}