{% block 'inner_content' %}
<div>
    <h2>Добавление нового поручения</h2>
</div>
<form id="modal_form" method="post" action="{{ request.path }}">
    {% csrf_token %}
    <div class="order_form">
        {{ order_form.as_my_style_add }}
        <div id="transit_forms">
            {{ transits.management_form }}
            {{ transits.non_form_errors  }}
            <h2>Связанные перевозки:</h2>
            {% for transit in transits.forms %}
            {{ transit.as_my_style }}
            {% endfor %}
        </div>
    </div>
    <div class="add_btns_to_center"><span class="btn_add_transit link_styled_span">Добавить перевозку</span></div>
    <br>
    <button type="submit">Сохранить</button>
    <span class="link_styled_span" onclick="closeModal()">Отмена</span>
</form>
<script>
    $('button[type=submit]').click(function(e){
        e.preventDefault()
        $(this).attr('disabled', 'disabled')
        $(this).css('cssText', 'background-color: gray !important; color: white !important; cursor: auto !important')
        $('.transit_form').each(function(){
            let cargos = $(this).find('.cargo_form:not([style])').length
            if (cargos === 0) {
                $(this).find('.btn_delete_transit').click()
            }
        })
        let form = $('#modal_form')
        let url = '{{ request.path }}'
        if (form[0].checkValidity()) {
            $.ajax({
                url: url,
                type: 'POST',
                data: form.serialize(),
                success: function(data){
                    const checkURL = '{% url 'orders_list' %}'
                    const nextURL = '{{ request.GET.next }}'
                    if (nextURL === checkURL) {
                        location.reload();
                    } else {
                        $('#modalQuickView').html(data);
                        $('#modalWindow').css('display', 'flex');
                        $('html, body').css({
                            overflow: 'hidden',
                            height: '100%'
                        });
                    }
                }
            });
        } else {
            form[0].reportValidity()
            $(this).removeAttr('disabled')
            $(this).removeAttr('style')
        }
    })

    newTransitGlobal = '{{ transits.empty_form.as_my_style|escapejs }}'
    newCargoGlobal = '{{ transits.empty_form.nested.empty_form.as_my_style|escapejs }}'
    window.onload = update_select_links('id_client')
    window.onload = update_contacts_select_links()
    window.onload = changeClientEmployeesList('id_client')
</script>
{% endblock %}