{% block 'inner_content' %}
{% load menu_tags %}
{% load humanize %}
<div class="transit_tabs">
    <div class="tabs_list">
        <span class="tab_label" id="general_tab">Общая информация</span>
        <span class="tab_label" id="cargo_tab">Груз</span>
        <span class="tab_label" id="segments_tab">Плечи</span>
        <span class="tab_label" id="transport_tab">Транспорт</span>
        <span class="tab_label" id="blanks_tab">Бланки документов</span>
        <span class="tab_label" id="originals_tab">Сканы документов</span>
    </div>
    <div class="transit_info_block" id="general">
        <h3>Поручение №{{ object.number }}</h3>
        <div  class="horizontal_tables_list">
            <table class="detail_view_table">
                <tr>
                    <th>Договор:</th>
                    <td>{{ object.contract }}</td>
                </tr>
                {% if object.gov_contr_num %}
                <tr>
                    <th>№ ИГК:</th>
                    <td>{{ object.gov_contr_num }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Сотрудник:</th>
                    <td>{% if object.contractor_employee %}{{ object.contractor_employee }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Статус</th>
                    <td>{{ object.get_status_display }}</td>
                </tr>
                <tr>
                    <th>Вес брутто:</th>
                    <td>{{ object.transit.weight|floatformat:2|intcomma }} кг</td>
                </tr>
                <tr>
                    <th>Объем:</th>
                    <td>{{ object.transit.volume|floatformat:2|intcomma }} м&sup3;</td>
                </tr>
                <tr>
                    <th>Количество мест:</th>
                    <td>{{ object.transit.quantity|floatformat:0|intcomma }} шт</td>
                </tr>
                <tr>
                    <th>Заявленная стоимость груза</th>
                    <td>{% if object.transit.value %}{{ object.transit.value }} {{ object.transit.currency }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Доп. услуги</th>
                    <td>{% if object.transit.extra_services.exists %}{{ object.transit.extra_services.all|join:", " }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th>Ставка</th>
                    <td>
                        {% if object.price_carrier %}
                            {{ object.price_carrier }} {{ object.currency }}{% if object.status != 'completed' and request.user == object.contractor_employee %} <a href="{% url 'order_edit_carrier' pk=object.pk %}?next={{ request.path }}">Изменить</a>{% endif %}
                        {% else %}
                            Не назначена{% if object.status != 'completed' and request.user == object.contractor_employee %} <a href="{% url 'order_edit_carrier' pk=object.pk %}?next={{ request.path }}">Назначить</a>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Иное</th>
                    <td>{% if object.other %}{% load url_tags %}{{ object.other|linebreaks|urlize|url_target_blank }}{% else %}-{% endif %}</td>
                </tr>
            </table>
            <table class="detail_view_table" width="70%">
                <tbody>
                    <tr>
                        <th>Адрес забора груза</th>
                        <th>Адрес доставки</th>
                    </tr>
                    <tr>
                        <td width="50%">{{ object.from_addr }}{% if object.from_addr_eng %}<br>{{ object.from_addr_eng }}{% endif %}</td>
                        <td width="50%">{{ object.to_addr }}{% if object.to_addr_eng %}<br>{{ object.to_addr_eng }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Отправитель:</th>
                        <th>Получатель:</th>
                    </tr>
                    <tr>
                        <td>{{ object.sender }}{% if object.sender.inn %} (ИНН {{ object.sender.inn }}){% endif %}</td>
                        <td>{{ object.receiver }}{% if object.receiver.inn %} (ИНН {{ object.receiver.inn }}){% endif %}</td>
                    </tr>
                    <tr>
                        <td><b>Контактные лица:</b><br>
                            <ul>
                                {% for contact in object.from_contacts.all %}
                                <li><b>{{ contact.last_name }} {{ contact.first_name }}{% if contact.second_name %} {{ contact.second_name }}{% endif %}</b><br>
                                <b>тел.</b> {{ contact.phone }}<br/>
                                <b>email</b> {% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td><b>Контактные лица:</b><br>
                            <ul>
                                {% for contact in object.to_contacts.all %}
                                <li><b>{{ contact.last_name }} {{ contact.first_name }}{% if contact.second_name %} {{ contact.second_name }}{% endif %}</b><br>
                                <b>тел.</b> {{ contact.phone }}<br/>
                                <b>email</b> {% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        {% if object.from_date_plan or object.from_date_fact or object.from_date_wanted %}
                        <td>
                            <table class="inline_table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Дата забора груза:</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        {% if object.from_date_wanted %}
                                            <tr>
                                                <td><b>Желаемая: </b></td><td>{{ object.from_date_wanted|date:"d.m.Y" }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if object.from_date_plan or object.from_date_fact %}
                                            <tr>
                                                {% if object.from_date_plan %}<td><b>План: </b>{{ object.from_date_plan|date:"d.m.Y" }}</td>{% endif %}
                                                {% if object.from_date_fact %}<td><b>Факт: </b>{{ object.from_date_fact|date:"d.m.Y" }}</td>{% endif %}
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </td>
                            {% endif %}
                            {% if object.to_date_plan or object.to_date_fact or object.to_date_wanted %}
                            <td>
                            <table class="inline_table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Дата доставки груза:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if object.to_date_wanted %}
                                    <tr>
                                        <td><b>Желаемая: </b></td><td>{{ object.to_date_wanted|date:"d.m.Y" }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if object.to_date_plan or object.to_date_fact %}
                                    <tr>
                                        {% if object.to_date_plan %}<td><b>План: </b>{{ object.to_date_plan|date:"d.m.Y" }}</td>{% endif %}
                                        {% if object.to_date_fact %}<td><b>Факт: </b>{{ object.to_date_fact|date:"d.m.Y" }}</td>{% endif %}
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="transit_info_block" id="cargo">
        <h3>Суммарные характеристики грузов</h3>
        <table class="detail_view_table">
            <tbody>
                <tr>
                    <th>Общее наименование груза:</th>
                    <td>{{ object.order.cargo_name }}</td>
                </tr>
                <tr>
                    <th>Страна происхождения груза:</th>
                    <td>{{ object.order.cargo_origin }}</td>
                </tr>
                <tr>
                    <th>
                        Вес брутто:
                    </th>
                    <td>
                        {{ object.transit.weight|floatformat:-2 }} кг
                    </td>
                </tr>
                <tr>
                    <th>
                        Объем:
                    </th>
                    <td>
                        {{ object.transit.volume|floatformat:-2 }} м&sup3;
                    </td>
                </tr>
                <tr>
                    <th>
                        Количество мест:
                    </th>
                    <td>
                        {{ object.transit.quantity }} шт
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Детализация по грузам</h3>
        <table class="list_view_table_inactive">
            <thead>
                <tr>
                    <td>Маркировка</td>
                    <td>Тип упаковки</td>
                    <td>Габариты (ДхШхВ), см</td>
                    <td>Вес, кг</td>
                    <td>Количество мест</td>
                    <td>Доп параметры</td>
                </tr>
            </thead>
            <tbody>
                {% for cargo in object.transit.cargos.all %}
                <tr class="short_inactive">
                    <td>{% if cargo.mark %}{{ cargo.mark }}{% else %}-{% endif %}</td>
                    <td>{{ cargo.get_package_type_display }}</td>
                    <td>{{ cargo.length|intcomma }}x{{ cargo.width|intcomma }}x{{ cargo.height|intcomma }}</td>
                    <td>{{ cargo.weight|floatformat:2|intcomma }}</td>
                    <td>{{ cargo.quantity|intcomma }}</td>
                    <td>{% if cargo.extra_params.exists %}{{ cargo.extra_params.all|join:", " }}{% else %}-{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="transit_info_block" id="segments">
        {% if object.status != 'completed' and request.user == object.contractor_employee %}<a href="{% url 'order_segments_carrier' pk=object.pk %}">Редактировать плечи</a>{% endif %}
        <table class="list_view_table_inactive">
            <thead>
                <tr>
                    <td>Маршрут</td>
                    <td>Тип перевозки</td>
                    <td>Дата отправки (план/факт)</td>
                    <td>Дата доставки (план/факт)</td>
                    <td>Кол-во мест</td>
                    <td>Оплачиваемый вес, кг</td>
                    <td>Статус</td>
                </tr>
            </thead>
            <tbody>
                {% for segment in object.segments.all %}
                <tr>
                    <td width="30%">{{ segment }}</td>
                    <td width="5%">{{segment.get_type_display}}</td>
                    <td width="15%">{{ segment.from_date_plan|date:"d.m.Y" }}/{{ segment.from_date_fact|date:"d.m.Y" }}</td>
                    <td width="15%">{{ segment.to_date_plan|date:"d.m.Y" }}/{{ segment.to_date_fact|date:"d.m.Y" }}</td>
                    <td width="5%">{{ segment.quantity }}</td>
                    <td width="5%">{{ segment.weight_payed }}</td>
                    <td width="10%">{{ segment.get_status_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="transit_info_block" id="transport">
        {% for segment in object.segments.all %}
        <h3>{{ segment }} ({{ segment.get_type_display }})</h3>
        {% if segment.type == 'auto' %}
        {% for waybill in segment.waybills.all %}
        <table>
            <tr>
                <td>{{ waybill.doc_date }}{% if waybill.auto_model or waybill.auto_number %} -{% if waybill.auto_model %} {{ waybill.auto_model }}{% endif %}{% if waybill.auto_number %} {{ waybill.auto_number }}{% endif %}{% endif %} (Кол-во мест: {{ waybill.quantity }})</td>
                <td>
                    {% if object.status != 'completed' and request.user == object.contractor_employee %}
                    <a href="{% url 'waybill_edit' pk=waybill.pk %}">Изменить</a>
                    <a href="{% url 'waybill_delete' pk=waybill.pk %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endfor %}
        {% if object.status != 'completed' and request.user == object.contractor_employee %}<a href="{% url 'waybill_data_add' segment_pk=segment.pk%}">Добавить автомобиль</a>{% endif %}
        {% else %}
        {% for waybill in segment.waybills.all %}
        <table>
            <tr>
                <td>{{ waybill.doc_date }} - рейс №{{ waybill.race_number }} (Кол-во мест: {{ waybill.quantity }})</td>
                <td>
                    {% if object.status != 'completed' and request.user == object.contractor_employee %}
                    <a href="{% url 'trans_doc_edit' pk=waybill.pk %}">Изменить</a>
                    <a href="{% url 'waybill_delete' pk=waybill.pk %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endfor %}
        {% if object.status != 'completed' and request.user == object.contractor_employee %}<a href="{% url 'trans_doc_data_add' segment_pk=segment.pk%}">Добавить рейс</a>{% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <div class="transit_info_block" id="blanks">
        <div>
            <a href="{% url 'ext_order_blank' order_pk=object.pk filename='ПЭ_'|add:object.filename %}" target="_blank">Поручение экспедитору №{{ object.number }}</a>
        </div>
        {% if object.contract.pay_acc %}
        {% if object.act_num %}
        <div>
            <a href="{% url 'contractor_act_blank' order_pk=object.pk filename='Акт_'|add:object.act_filename %}" target="_blank">Акт №{{ object.act_num }} от {{ object.act_date }}</a>
        </div>
        {% endif %}
        {% if object.bill_num %}
        <div>
            <a href="{% url 'contractor_bill_blank' order_pk=object.pk filename='Счет_'|add:object.bill_filename %}" target="_blank">Счет №{{ object.bill_num }} от {{ object.bill_date }}</a>
        </div>
        {% endif %}{% endif %}
        {% for segment in object.segments.all %}
        {% if segment == segment.ext_order.segments.first or segment.type == 'auto' %}
        <h3>{{ segment }} ({{ segment.get_type_display }})</h3>
        <table>
            {% for wb in segment.waybills.all %}
            <tr>
                <td>
                    {{ wb.doc_number }}
                </td>
                <td>
                    {% if segment.type == 'auto' %}
                    <a href="{% url 'waybill' docdata_pk=wb.pk filename='ТН_'|add:wb.file_name %}" target="_blank">Бланк ТН</a>
                    {% endif %}
                    {% if segment == segment.ext_order.segments.first %}
                    <a href="{% url 'shipping_receipt' docdata_pk=wb.pk filename='ЭР_'|add:wb.file_name %}" target="_blank">Бланк ЭР</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endfor %}
    </div>
    <div class="transit_info_block" id="originals">
        {% for segment in object.segments.all %}
        <h3>{{ segment }} ({{ segment.get_type_display }})</h3>
        {% if segment == segment.ext_order.segments.first and segment.receipts.exists %}
        <table>
            {% for receipt in segment.receipts.all %}
            <tr>
                <td>
                    ЭР №{{ receipt.doc_number }} от {{ receipt.doc_date|date:"d.m.Y" }}
                </td>
                <td>
                    <a target="_blank" download href="{{ receipt.sr_file.url }}">Скачать</a>
                    {% if object.status != 'completed' and request.user == object.contractor_employee %}
                    <a href="{% url 'receipt_original_edit' pk=receipt.pk %}">Изменить</a>
                    <a href="{% url 'receipt_original_delete' pk=receipt.pk %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if segment == segment.ext_order.segments.first %}
        {% if object.status != 'completed' and request.user == object.contractor_employee %}<div><a href="{% url 'receipt_original_add' segment_pk=segment.pk %}">Добавить скан ЭР</a></div>{% endif %}
        <br>
        {% endif %}
        {% if segment.originals.exists %}
        <table>
            {% for orig in segment.originals.all %}
            <tr>
                <td>
                    {{ orig.get_doc_type_display }} №{{ orig.doc_number }} от {{ orig.doc_date|date:"d.m.Y" }}
                </td>
                <td>
                    <a target="_blank" download href="{{ orig.td_file.url }}">Скачать</a>
                    {% if object.status != 'completed' and request.user == object.contractor_employee %}
                    <a href="{% url 'original_edit' pk=orig.pk %}">Изменить</a>
                    <a href="{% url 'original_delete' pk=orig.pk %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if object.status != 'completed' and request.user == object.contractor_employee %}<div><a href="{% url 'original_add' segment_pk=segment.pk %}">Добавить скан накладной</a></div>{% endif %}
        {% if segment.randoms.exists %}
        <table>
            {% for random_doc in segment.randoms.all %}
            <tr>
                <td>
                    {{ random_doc.doc_name }} №{{ random_doc.doc_number }} от {{ random_doc.doc_date|date:"d.m.Y" }}
                </td>
                <td>
                    <a target="_blank" download href="{{ random_doc.rd_file.url }}">Скачать</a>
                    {% if object.status != 'completed' and request.user == object.contractor_employee %}
                    <a href="{% url 'random_doc_edit' pk=random_doc.pk %}">Изменить</a>
                    <a href="{% url 'random_doc_delete' pk=random_doc.pk %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if object.status != 'completed' and request.user == object.contractor_employee %}<div><a href="{% url 'random_doc_add' segment_pk=segment.pk %}">Добавить скан иного документа</a></div>{% endif %}
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.tabs_list').each(function(){
            $(this).find('.tab_label').first().click()
        })
    })
</script>
{% endblock %}