{% block 'inner_content' %}
<div>
    <h2>Ставка по поручению №{{ form.instance.number }}</h2>
</div>
<form method="post" id="pice_form">
    {% csrf_token %}
    <table class="form_table">
        {{ form.as_table }}
    </table>
    <button type="submit">Сохранить</button>
    <a href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'order_detail_carrier' pk=form.instance.pk %}{% endif %}">Отмена</a>
</form>
{% endblock %}

<script>
    $('#pice_form button[type=submit]').click(function(e){
        e.preventDefault()
        form = $('form#pice_form')[0]
        if (form.checkValidity()) {
            $.ajax({
                url: '{{ request.path }}',
                type: 'POST',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function(data){
                    const checkURL = '{% url 'orders_list_carrier' %}'
                    const nextURL = '{{ request.GET.next }}'
                    if (nextURL === checkURL) {
                        location.reload();
                    } else {
                        $('#modalQuickView').html(data);
                        $('#modalWindow').css('display', 'flex');
                        $('html, body').css({
                            overflow: 'hidden',
                            height: '100%'
                        });
                    }
                }
            });
        } else {
            form.reportValidity()
        }
    })
</script>