<div class="status_form">
    <div class="status_hidden_field">
        {{ hidden_fields.id }} {{ hidden_fields.id.errors }}
        {{ fields.DELETE.label_tag }} {{ fields.DELETE }} {{ fields.DELETE.errors }}
    </div>
    <div class="status_row">
        <div class="status_field">
            {{ fields.title.label_tag }} {{ fields.title }} {{ fields.title.errors }}
        </div>
        <div class="status_field">
            {{ fields.file.label_tag }} {{ fields.file }} {{ fields.file.errors }}
        </div>
        <div class="status_field">
            {{ fields.public.label_tag }} {{ fields.public }} {{ fields.public.errors }}
        </div>
    </div>
    <div class="btn_delete_status"><span class="link_styled_span" label="status">Удалить</span></div>
</div>