<div class="status_form">
    <div class="status_hidden_field">
        {{ hidden_fields.id }} {{ hidden_fields.id.errors }}
        {{ fields.DELETE.label_tag }} {{ fields.DELETE }} {{ fields.DELETE.errors }}
    </div>
    <div class="horizontal_tables_list flex_start">
        <table class="form_table">
            <tr>
                <th colspan="2">{{ fields.from_addr.label_tag }}</th>
            </tr>
            <tr>
                <td colspan="2">{{ fields.from_addr }} {{ fields.from_addr.errors }}</td>
            </tr>
            <tr>
                <th colspan="2">Дата забора груза:</th>
            </tr>
            <tr>
                <td><b>План:</b> {{ fields.from_date_plan.errors }}{{ fields.from_date_plan }}</td>
                <td><b>Факт:</b> {{ fields.from_date_fact.errors }}{{ fields.from_date_fact }}</td>
            </tr>
        </table>
        <table class="form_table">
            <tr>
                <th colspan="2">{{ fields.to_addr.label_tag }}</th>
            </tr>
            <tr>
                <td colspan="2">{{ fields.to_addr }} {{ fields.to_addr.errors }}</td>
            </tr>
            <tr>
                <th colspan="2">Дата доставки:</th>
            </tr>
            <tr>
                <td><b>План:</b> {{ fields.to_date_plan.errors }}{{ fields.to_date_plan }}</td>
                <td><b>Факт:</b> {{ fields.to_date_fact.errors }}{{ fields.to_date_fact }}</td>
            </tr>
        </table>
        <table class="form_table">
            <tr>
                <td><b>{{ fields.tracking_number.label_tag }}</b><br>{{ fields.tracking_number }} {{ fields.tracking_number.errors }}</td>
                <td><b>{{ fields.tracking_date.label_tag }}</b><br>{{ fields.tracking_date }} {{ fields.tracking_date.errors }}</td>
            </tr>
            <tr>
                <td><b>{{ fields.status.label_tag }}</b><br>{{ fields.status }} {{ fields.status.errors }}</td>
                <td><b>{{ fields.comment.label_tag }}</b><br> {{ fields.comment }} {{ fields.comment.errors }}</td>
            </tr>
        </table>
    </div>
    <div class="horizontal_tables_list">
        <table class="form_table">
            <tr>
                <td><b>{{ fields.type.label_tag }}</b><br> {{ fields.type }} {{ fields.type.errors }}</td>
                <td><b>{{ fields.quantity.label_tag }}</b><br> {{ fields.quantity }} {{ fields.quantity.errors }}</td>
                <td><b>{{ fields.weight_payed.label_tag }}</b><br> {{ fields.weight_payed }} {{ fields.weight_payed.errors }}</td>
                <td><b>{{ fields.price.label_tag }}</b><br> {{ fields.price }} {{ fields.price.errors }}</td>
                <td rowspan="2"><b>{{ fields.currency.label_tag }}</b><br> {{ fields.currency }} {{ fields.currency.errors }}</td>
                <td rowspan="2"><b>{{ fields.taxes.label_tag }}</b><br> {{ fields.taxes }} {{ fields.taxes.errors }}</td>
            </tr>
            <tr>
                <td><b>{{ fields.carrier.label_tag }}</b><br>{{ fields.carrier }} {{ fields.carrier.errors }}</td>
                <td colspan="2"><b>{{ fields.contract.label_tag }}</b><br>{{ fields.contract }} {{ fields.contract.errors }}</td>
                <td><b>{{ fields.price_carrier.label_tag }}</b><br>{{ fields.price_carrier }} {{ fields.price_carrier.errors }}</td>
            </tr>
        </table>
        <div class="btn_delete_status">
            <span class="link_styled_span">Удалить</span>
        </div>
    </div>
</div>