{% extends 'static_pages/base.html' %}
{% block 'content' %}
{% load menu_tags %}

<div id="ca_menu">
    <a class="menu_item{% url_active 'dashboard_pub' %}" href="{% url 'dashboard_pub' %}">Общая информация</a>
    <a class="menu_item{% url_active 'users_list_pub' %}" href="{% url 'users_list_pub' %}">Коллеги</a>
    <a class="menu_item{% url_active 'orders_list_pub' %}" href="{% url 'orders_list_pub' %}">{{ corp_order_label.plural|title }}</a>
</div>

<div class="inner_content">
{% block 'inner_content' %}
{% endblock %}
</div>
{% endblock %}