{% block 'inner_content' %}
{% load menu_tags %}
<div class="profile_view">
    <div>
        <h2>История статусов {{ corp_order_label.genitive }} №{{ object.client_number }} от {{ object.created_at|date:"d.m.Y" }}</h2>
    </div>
    <table class="detail_view_table">
        <tbody>
            {% for status in object.history.all %}
            <tr>
                <td>{{ status.created_at|date:"d.m.Y" }}</td>
                <td>{{ status.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'order_detail_pub' pk=object.pk %}">Назад</a>
</div>
{% endblock %}