{% block 'inner_content' %}
<div>
    <h2>Вы уверены, что хотите удалить {{ object }}?</h2>
</div>
<form id="contact_delete_form" method="post" action="{{ request.path }}">
    {% csrf_token %}
    <button type="submit">Да</button>
    <a href="{{ request.GET.next }}">Отмена</a>
</form>
{% endblock %}

<script>
    $('#contact_delete_form button[type=submit]').click(function(e){
        e.preventDefault()
        $.ajax({
            url: '{{ request.path }}',
            type: 'POST',
            data: $('#contact_delete_form').serialize(),
            success: function(data){
                $('#subModalQuickView').html(null);
                $('#subModalQuickView').append($(data));
                $('#subModalWindow').css('display', 'flex');
                $('html, body').css({
                    overflow: 'hidden',
                    height: '100%'
                });
            }
        });
    })
</script>