{% block 'inner_content' %}
<div>
    <h2>Найдены похожие контакты</h2>
</div>
<div id="contact_select_error" class="cp_alert">Выберите хотя бы один контакт!</div>
<form id="contact_select_similar_form" method="post">
    {% csrf_token %}
    <table class="list_view_table_inactive" id="similar_contacts">
        <thead>
            <tr>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Тел.</td>
                <td>email</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{% if contact.last_name %}{{ contact.last_name }}{% else %}-{% endif %}</td>
                <td>{% if contact.first_name %}{{ contact.first_name }}{% else %}-{% endif %}</td>
                <td>{% if contact.second_name %}{{ contact.second_name }}{% else %}-{% endif %}</td>
                <td>{% if contact.phone %}{{ contact.phone }}{% else %}-{% endif %}</td>
                <td>{% if contact.email %}{{ contact.email }}{% else %}-{% endif %}</td>
                <td><input id="contacts-{{ forloop.counter0 }}-id" type="radio" name="contact_id" required value="{{ contact.pk }}"><label for="contacts-{{ forloop.counter0 }}-id"><span class="link_styled_span dark">Выбрать</span></label></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><span class="link_styled_span" onclick="sendRequest('{{ request.path }}?{{ save_anyway }}')">Нет, я хочу сохранить новый!</span></div>
    <button id="contact_select_submit" type="submit">Сохранить</button>
    <span class="link_styled_span" onclick="clicked_sub_link.click()">Отмена</span>
</form>
<script>
    $('#similar_contacts').on('change', 'input[type=radio]', function(){
        $('#similar_contacts tbody tr').removeAttr('class')
        $(this).parent().parent().addClass('checked')
    })

    function sendRequest (url) {
        send_data = $('#contact_select_similar_form').serialize()
        $.ajax({
            url: url,
            type: 'POST',
            data: send_data,
            success: function(data){
                if (data[0] == '{'){
                    $('#subModalCloseButton').click()
                    clicked_sub_link.click()
                } else {
                    cp_alert = $('#contact_select_error')
                    cp_alert.css('color', 'red')
                    delay(1000).then(() => cp_alert.removeAttr('style'))
                }
            }
        });
    }
    $('button[type=submit]').click(function(e){
        e.preventDefault()
        sendRequest('{{ request.path }}')
    })
</script>
{% endblock %}