{% block 'inner_content' %}
<div>
    <h2>Выберите организацию</h2>
</div>
<a id="cp_add">Добавить организацию</a>
<div id="cp_select_error" class="cp_alert">Выберите организацию!</div>
<input type="search" id="search_input" placeholder="Поиск">
<form id="cp_select_form" method="post">
    {% csrf_token %}
    <input type="hidden" name="transit_prefix" id="transit_prefix">
    <input type="hidden" name="cp_type" id="cp_type">
    <div class="searchable" id="id_counterparty">
        <table>
            {% for cp in form.fields.counterparty.queryset %}
            <tr>
                <td>
                    <input type="radio" name="counterparty" value="{{ cp.id }}" required id="id_contact_{{ forloop.counter0 }}">
                </td>
                <td>
                    {{ cp }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button id="cp_select_submit" type="submit">Сохранить</button>
    <span class="link_styled_span" onclick="$('#subModalCloseButton').click()">Отмена</span>
</form>
<script>
    $('#cp_select_form button[type=submit]').click(function(e){
        e.preventDefault()
        send_data = $('#cp_select_form').serialize()
        cp_type = $('#cp_select_form').find('#cp_type').val()
        transit_prefix = $('#cp_select_form').find('#transit_prefix').val()
        $.ajax({
            url: '{{ request.path }}',
            type: 'POST',
            data: send_data,
            success: function(data){
                if (data[0] == '{'){
                    response = JSON.parse(data)
                    input_id = '#id_' + transit_prefix + '-' + cp_type
                    $(input_id).val(response['cp_id'])
                    contacts_select_link = clicked_sub_link.parent().parent().parent().find('span.contacts_select')
                    update_contacts_select_link(contacts_select_link)
                    contacts_select = $('#id_' + transit_prefix + '-' + contacts_select_link.attr('contacts_type'))
                    contacts_display = $('#' + transit_prefix + '-' + contacts_select_link.attr('contacts_type') + '_display')
                    contacts_select.html(null)
                    contacts_display.html(null)
                    contacts_select_link.html('Выбрать')
                    span = $('#' + transit_prefix + '-' + cp_type + '_display')
                    span.html(response['cp_display'])
                    clicked_sub_link.html('Изменить')
                    $('#subModalCloseButton').click()
                } else {
                    cp_alert = $('#cp_select_error')
                    cp_alert.css('color', 'red')
                    delay(1000).then(() => cp_alert.removeAttr('style'))
                }
            }
        });
    })
</script>
{% endblock %}