{% extends request.user.is_staff|yesno:'management/main_menu.html,clientsarea/main_menu.html' %}
{% block 'inner_content' %}
<div class="profile_view">
    <div>
        <h2>Ваш профиль</h2>
        <a href="{% url 'profile_edit' %}">Редактировать</a>
        <a href="{% url 'change_password' %} ">Изменить пароль</a>
    </div>
    <br>
    <table class="detail_view_table">
        <tbody>
            <tr>
                <td><b>Имя пользователя</b></td>
                <td>{{ request.user.username }}</td>
            </tr>
            <tr>
                <td><b>Эл. почта</b></td>
                <td>{{ request.user.email }}</td>
            </tr>
            {% if request.user.org %}
            <tr>
                <td><b>Организация</b></td>
                <td>{{ request.user.org.title }}</td>
            </tr>
            {% endif %}
            <tr>
                <td><b>ФИО пользователя</b></td>
                {% if request.user.second_name %}
                <td>{{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.second_name }}</td>
                {% else %}
                <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}