{% block 'inner_content' %}
<div>
    <h2>Добавить договор</h2>
</div>
<form id="contract_add_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="form_table">
        {{ form.as_table }}
    </table>
    <button type="submit">Сохранить</button>
    <span class="link_styled_span" onclick="clicked_sub_link.click()">Отмена</span>
</form>
{% endblock %}

<script>
    $('#contract_add_form button[type=submit]').click(function(e){
        e.preventDefault()
        $.ajax({
            url: '{{ request.path }}',
            type: 'POST',
            data: $('#contract_add_form').serialize(),
            success: function(data){
                content = $(data)
                if (content.find('#id_inn').length == 0) {
                    clicked_sub_link.click()
                } else {
                    $('#subModalQuickView').html(null);
                    $('#subModalQuickView').append(content);
                    $('#subModalWindow').css('display', 'flex');
                    $('html, body').css({
                        overflow: 'hidden',
                        height: '100%'
                    });
                }
            }
        });
    })
</script>