# DB_HOST - Address of the database host
# DB_NAME - Name of used database
# DB_USER - Name of database user
# DB_PASS - Database user's password
# SECRET_KEY - Project's secret key
# ALLOWED_HOSTS - Host name space-separated list of host names (e.g. ALLOWED_HOSTS="your-domain.com www.yourdomain.com")
# EMAIL_HOST - Address to the SMTP host to use
# EMAIL_PORT - Port of the used SMTP host
# EMAIL_HOST_USER - Username for SMTP authorization
# EMAIL_HOST_PASSWORD - Password for SMTP authorization
# EMAIL_USE_SSL - Bool if you use SSL for SMTP (1 if yes, 0 if no)
# DEBUG - Bool if you are running app in debug mode (1 if yes, 0 if no). Use 0 only for production!
# FS_HOST - File server address
# FS_PATH - Absolute path to folder where docker's volume is mount
# FS_USER - File server user name
# FS_PASSWD - File server user's password

DB_HOST=dbhost
DB_PORT=dbport
DB_NAME=dbname
DB_USER=rootuser
DB_PASS=changeme
SECRET_KEY=changeme
ALLOWED_HOSTS=changeme
EMAIL_HOST=changeme
EMAIL_PORT=changeme
EMAIL_HOST_USER=changeme
EMAIL_HOST_PASSWORD=changeme
EMAIL_USE_SSL=changeme
DEBUG=1
FS_HOST=changeme
FS_PATH=changeme
FS_USER=changeme
FS_PASSWD=changeme