{% block 'inner_content' %}
<div>
    <h2>Добавление скана ЭР</h2>
</div>
<form id="add_original" method="post" enctype="multipart/form-data" action="{{ request.path }}">
    {% csrf_token %}

    <table class="form_table">
        {{ form.as_table }}
    </table>
    <button type="submit">Сохранить</button>
    <a href="{{ return_url }}">Отмена</a>
</form>
{% endblock %}

<script>
    $('#add_original button[type=submit]').click(function(e){
        e.preventDefault()
        form = $('form#add_original')[0]
        if (form.checkValidity()) {
            $.ajax({
                url: '{{ request.path }}',
                type: 'POST',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function(data){
                    content = $(data)
                    if (content.find('#id_doc_number').length == 0) {
                        showModal("{{ return_url }}");
                    } else {
                        $('#modalQuickView').html(null);
                        $('#modalQuickView').append(content);
                        $('html, body').css({
                            overflow: 'hidden',
                            height: '100%'
                        });
                    }
                }
            });
        } else {
            form.reportValidity()
        }
    })
</script>